{% comment %}
	Renders cart drawer

	Usage:
	{% render 'burger-drawer' %}
{% endcomment %}

<style>
	.drawer {
		visibility: hidden;
	}
</style>

<burger-drawer class="drawer burger-drawer">
	<div
		id="BurgerDrawer"
		class="cart-drawer color-{{ section.settings.color_scheme }}"
	>
		<div
			id="BurgerDrawer-Overlay"
			class="cart-drawer__overlay"
		></div>
		<div
			class="drawer__inner"
			role="dialog"
			aria-modal="true"
			aria-label="{{ 'general.cart.item_added' | t }}"
			tabindex="-1"
		>
			<div class="drawer__top">
				<div class="drawer_logo">
					<button
						type="button"
						class="burger__close modal__close-button focus-inset modal-close-button"
						id="burger-drawer-close"
						aria-label="{{ 'accessibility.close' | t }}"
					>
						{% render 'icon-close' %}
					</button>

					{% render 'header-logo' %}
				</div>

				{% if block.settings.burger_heading %}
					<div class="burger_heading">
						<span class="subtitle">{{ block.settings.burger_heading }}</span>
					</div>
				{% endif %}
			</div>

			<div class="drawer__main">
				<div class="drawer__left">
					<div class="burger_menu">
						{%- for link in block.settings.dropdown_button_menu.links -%}
							<div class="burger_menu_items">
								{%- if link.links != blank -%}
									<button class="drawer__accordion-title first_level h6" tabindex="0">
										<span>
											{{ link.title | escape }}
										</span>
										{% render 'icon-arrow-small' %}
									</button>
									<div class="drawer__accordion-content" style="display: none">
										{%- for childlink in link.links -%}
											<div class="medium-font">
												<div class="second_level">
													<a
														href="{{ childlink.url }}"
														class="menu-drawer__menu-item medium-font list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
														{% if childlink.current %}
															aria-current="page"
														{% endif %}
													>
														{{ childlink.title | escape }}
													</a>
												</div>
												<div>
													{%- for grandchildlink in childlink.links -%}
														<div class="second_level">
															<a
																href="{{ grandchildlink.url }}"
																class="menu-drawer__menu-item-child hmedium-font6"
																{% if grandchildlink.current %}
																	aria-current="page"
																{% endif %}
															>
																{{ grandchildlink.title | escape }}
															</a>
														</div>
													{%- endfor -%}
												</div>
											</div>
										{%- endfor -%}
									</div>
								{%- else -%}
									<div class="first_level">
										<a
											href="{{ link.url }}"
											class="menu-drawer__menu-item h6 list-menu__item focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
											{% if link.current %}
												aria-current="page"
											{% endif %}
										>
											{{ link.title | escape }}
										</a>
									</div>
								{%- endif -%}
							</div>
						{%- endfor -%}
					</div>
					{%- if block.settings.login_information -%}
						<div class="burger_account">
							{%- if shop.customer_accounts_enabled -%}
								{%- if customer -%}
									<div class="menu-drawer__utility-account">
										<div class="menu-drawer__utility-account-header">
											<span class="menu-drawer__utility-name">
												{{- customer.name -}}
											</span>
											<a
												class="menu-drawer__utility-logout"
												href="{{ routes.account_logout_url }}"
											>
												{{- 'customer.log_out' | t -}}
											</a>
										</div>
									</div>
								{%- else -%}
									<div class="burger_account_log_in">
										<div class="medium-font">
											{{ block.settings.description }}
										</div>
										<a
											href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
											class="button button--primary menu-drawer__account focus-inset"
										>
											<span class="button-label">
												{%- liquid
													if customer
														echo 'customer.account_fallback' | t
													else
														echo 'customer.log_in' | t
													endif
												-%}
											</span>
										</a>
									</div>
								{%- endif -%}
							{%- endif -%}
						</div>
					{%- endif -%}
				</div>

				{% if block.settings.show_promo %}
					<div class="drawer__right">
						{% if block.settings.show_promo %}
							<div class="drawer__collection-block">
								<div class="drawer__collection color-{{ block.settings.color_scheme }}">
									{% if block.settings.image != blank %}
										{{
											block.settings.image
											| image_url: width: block.settings.image.width
											| image_tag:
												loading: 'lazy',
												sizes: '100vw',
												widths: '360, 550, 710, 1100, 1420, 1700, 1920',
												width: block.settings.image.width,
												class: 'drawer__item-image'
										}}
									{% else %}
										{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
									{%- endif -%}
									<span
										class="image_overlay"
										style="opacity: {{ block.settings.effect_opacity }}"
									></span>

									<div class="promo_text">
										{%- if block.settings.subheading != blank -%}
											<div class="subtitle">
												{{ block.settings.subheading }}
											</div>
										{%- endif -%}
										{%- if block.settings.heading != blank -%}
											<h5>
												{{ block.settings.heading }}
											</h5>
										{%- endif -%}
									</div>

									<a
										{% if block.settings.button_link.url != blank %}
											href="{{ block.settings.button_link }}"
										{% endif %}
										class="drawer__collection-link-overlay"
										{% if block.settings.button_link.url == blank %}
											aria-disabled="true"
										{% endif %}
										aria-label="Promo banner"
									></a>
								</div>
							</div>
						{% endif %}
						{% if block.settings.show_promo_2 %}
							<div class="drawer__collection-block">
								<div class="drawer__collection color-{{ block.settings.color_scheme_2 }}">
									{% if block.settings.image_2 != blank %}
										{{
											block.settings.image_2
											| image_url: width: block.settings.image_2.width
											| image_tag:
												loading: 'lazy',
												sizes: '100vw',
												widths: '360, 550, 710, 1100, 1420, 1700, 1920',
												width: block.settings.image_2.width,
												class: 'drawer__item-image'
										}}
									{% else %}
										{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
									{%- endif -%}
									<span
										class="image_overlay"
										style="opacity: {{ block.settings.effect_opacity_2 }}"
									></span>

									<div class="promo_text">
										{%- if block.settings.subheading_2 != blank -%}
											<p class="subtitle">
												{{ block.settings.subheading_2 }}
											</p>
										{%- endif -%}
										{%- if block.settings.heading_2 != blank -%}
											<h5>
												{{ block.settings.heading_2 }}
											</h5>
										{%- endif -%}
									</div>

									<a
										{% if block.settings.button_link_2.url != blank %}
											href="{{ block.settings.button_link_2 }}"
										{% endif %}
										class="drawer__collection-link-overlay"
										{% if block.settings.button_link_2.url == blank %}
											aria-disabled="true"
										{% endif %}
										aria-label="Promo banner"
									></a>
								</div>
							</div>
						{% endif %}
						{% if block.settings.show_promo_3 %}
							<div class="drawer__collection-block">
								<div class="drawer__collection color-{{ block.settings.color_scheme_3 }}">
									{% if block.settings.image_3 != blank %}
										{{
											block.settings.image_3
											| image_url: width: block.settings.image_3.width
											| image_tag:
												loading: 'lazy',
												sizes: '100vw',
												widths: '360, 550, 710, 1100, 1420, 1700, 1920',
												width: block.settings.image_3.width,
												class: 'drawer__item-image'
										}}
									{% else %}
										{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
									{%- endif -%}
									<span
										class="image_overlay"
										style="opacity: {{ block.settings.effect_opacity_3 }}"
									></span>

									<div class="promo_text">
										{%- if block.settings.subheading_3 != blank -%}
											<p class="subtitle">
												{{ block.settings.subheading_3 }}
											</p>
										{%- endif -%}
										{%- if block.settings.heading_3 != blank -%}
											<h5>
												{{ block.settings.heading_3 }}
											</h5>
										{%- endif -%}
									</div>

									<a
										{% if block.settings.button_link_3.url != blank %}
											href="{{ block.settings.button_link_3 }}"
										{% endif %}
										class="drawer__collection-link-overlay"
										{% if block.settings.button_link_3.url == blank %}
											aria-disabled="true"
										{% endif %}
										aria-label="Promo banner"
									></a>
								</div>
							</div>
						{% endif %}
					</div>
				{% endif %}
			</div>

			<div class="drawer-announcement-bar">
				<div class="container">
					{% if block.settings.bar_text != blank %}
						<div class="drawer-announcement-bar__text small-font">
							{{ block.settings.bar_text }}
							{% render 'button',
								btn_label: block.settings.bar_button_label,
								btn_link: block.settings.bar_button_link,
								btn_style: 'tertiary',
								enable_arrow: block.settings.bar_button_arrow
							%}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</burger-drawer>
