{% comment %}
	Renders cart drawer

	Usage:
	{% render 'cart-drawer' %}
{% endcomment %}
{{ 'component-card-horizontal.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<style>
	.drawer {
		visibility: hidden;
	}
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
	<div id="CartDrawer" class="cart-drawer">
		<div
			id="CartDrawer-Overlay"
			class="cart-drawer__overlay color-inverse"
		></div>
		<div
			class="drawer__inner"
			role="dialog"
			aria-modal="true"
			aria-label="{{ 'general.cart.item_added' | t }}"
			tabindex="-1"
		>
			<div class="drawer__header">
				<span class="drawer__header-info small-font">
					{{- settings.drawer_info -}}
				</span>
				{% comment %}<hr>{% endcomment %}
				<button
					type="button"
					class="drawer__close modal__close-button focus-inset modal-close-button"
					onclick="this.closest('cart-drawer').close()"
					aria-label="{{ 'accessibility.close' | t }}"
				>
					{% render 'icon-close' %}
				</button>
			</div>
			<div class="drawer__heading-wrapper">
				<h2 class="drawer__heading h6">
					{{ 'general.cart.item_added' | t }}
					{% comment %}{{ 'sections.header.cart_count' | t: count: cart.item_count }}{% endcomment %}
				</h2>
				<span class="drawer__items-count subtitle">
					{% comment %}{{ cart.items.size }}{% endcomment %}
					{{ 'general.cart.item_count' | t: count: cart.item_count }}
				</span>
			</div>
			{%- if cart == empty -%}
				<div class="drawer__inner-empty">
					{% comment %}
						<div class="drawer__inner-empty__icon">
							{%- if settings.drawer_icon != 'none' -%}
								{%- render 'icon-accordion',
									icon: settings.drawer_icon,
									size: settings.drawer_icon_size,
									custom_icon: settings.drawer_custom_icon,
									custom_icon_dark: settings.drawer_custom_icon_dark
								-%}
							{%- else -%}
								{% render 'icon-account-order-none' %}
							{%- endif -%}
						</div>
					{% endcomment %}
					<p class="cart__empty-text medium-font">
						{{ 'general.cart.empty_cart' | t }}
						<br>
						{{ 'general.cart.empty_cart_second' | t }}
					</p>
					{% assign btn_label = 'customer.account.account_button_shop' | t %}
					{% render 'button',
						btn_style: 'primary',
						btn_link: routes.all_products_collection_url,
						btn_label: btn_label
					%}
				</div>
				{% if settings.product_list != blank %}
					<div
						class="cart-products__swiper"
						data-id="cart-products__swiper"
						id="cart-products__swiper"
					>
						<div class="cart-products__swiper-header">
							<span class="drawer_slider_heading subtitle">
								{{- settings.drawer_slider_heading -}}
							</span>
							<div class="swiper-btn__wrapper">
								<div class="cart-swiper-btn cart-swiper-button-prev">
									<svg
										width="18"
										height="18"
										viewBox="0 0 18 18"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path d="M8.125 13.5L3.75 9M3.75 9L8.125 4.5M3.75 9H14.25" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>
								<div class="cart-swiper-btn cart-swiper-button-next">
									<svg
										width="18"
										height="18"
										viewBox="0 0 18 18"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path d="M9.875 4.5L14.25 9M14.25 9L9.875 13.5M14.25 9L3.75 9" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>
							</div>
						</div>
						<div class="cart-products__swiper-content swiper">
							<div class="cart-products__swiper-wrapper swiper-wrapper">
								{% for product in settings.product_list %}
									<div class="cart-products__slide product-card-recommendations swiper-slide">
										{%
											render 'product-card-horizontal-recommendations',
											product_card_product: product,
											show_secondary_image: settings.cart_show_secondary_image,
											show_collection_name: settings.cart_show_collection_name,
											show_vendor: settings.cart_show_vendor,
											media_size: settings.cart_image_ratio,
											media_fit: settings.cart_image_fit,
											section_id: section.id,
										%}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
			{%- endif -%}
			<cart-drawer-items
				{% if cart == empty %}
					class=" is-empty"
				{% endif %}
			>
				<form
					action="{{ routes.cart_url }}"
					id="CartDrawer-Form"
					class="cart__contents cart-drawer__form"
					method="post"
				>
					<div id="CartDrawer-CartItems" class="drawer__contents js-contents">
						{%- if cart != empty -%}
							<div class="drawer__cart-items-wrapper">
								{%- for item in cart.items -%}
									<div
										id="CartDrawer-Item-{{ item.index | plus: 1 }}"
										class="cart-item"
									>
										<div class="cart-item__inner-top">
											{% if item.image %}
												<div class="cart-item__media">
													{% assign image_height = item.image.width
														| divided_by: item.image.aspect_ratio
														| ceil
													%}
													{% assign style = 'object-fit: '
														| append: section.settings.image_fit
														| append: ';'
													%}
													{{
														item.image
														| image_url: width: 1920
														| image_tag:
															loading: 'lazy',
															width: item.image.width,
															height: image_height,
															sizes: '100vw,(min-width: 990px) 80px',
															widths: '375, 550, 750, 1100, 1500, 1780, 1920',
															style: style,
															class: 'cart-item__image'
													}}
												</div>
											{% endif %}
											<div class="cart-item__details">
												<div class="cart-item__details-header">
													<div class="cart-item__details-header-wrapper">
														{% if settings.drawer_show_collection_name %}
															{% for collection in item.product.collections
																limit: 1
															%}
																<a
																	href="{{ collection.url }}"
																	class="cart-item__collection-name card__collection-title unstyled-link subtitle"
																>
																	{{- collection.title | escape -}}
																</a>
															{% endfor %}
														{% endif %}
														<a
															href="{{ item.url }}"
															class="cart-item__name unstyled-link card__title"
														>
															<span>{{ item.product.title | escape }}</span>
														</a>
													</div>
													<div class="cart-item__price-wrapper">
														{%- if item.original_price != item.final_price -%}
															<div class="cart-item__discounted-prices">
																<span class="visually-hidden">
																	{{
																		'products.product.price.regular_price'
																		| t
																	}}
																</span>
																<s class="cart-item__old-price cart-price">
																	{{- item.original_price | money -}}
																</s>
																<span class="visually-hidden">
																	{{ 'products.product.price.sale_price' | t }}
																</span>
																<span class="cart-item__final-price cart-price price">
																	{{ item.final_price | money }}
																</span>
															</div>
														{%- else -%}
															<div class="cart-item__final-price cart-price price">
																{{ item.original_price | money }}
															</div>
														{%- endif -%}

														{%- if item.variant.available
															and item.unit_price_measurement
														-%}
															<div class="unit-price caption">
																<span class="visually-hidden">
																	{{-
																		'products.product.price.unit_price'
																		| t
																	-}}
																</span>
																{{ item.variant.unit_price | money }}
																<span aria-hidden="true">/</span>
																<span class="visually-hidden"
																	>&nbsp;
																	{{-
																		'accessibility.unit_price_separator'
																		| t
																	-}}
																	&nbsp;</span
																>
																{%- if item.variant.unit_price_measurement.reference_value
																		!= 1
																-%}
																	{{- item.variant.unit_price_measurement.reference_value -}}
																{%- endif -%}
																{{ item.variant.unit_price_measurement.reference_unit }}
															</div>
														{%- endif -%}
													</div>
												</div>
												{%- if item.product.has_only_default_variant == false
													or item.properties.size != 0
													or item.selling_plan_allocation != null
												-%}
													<dl>
														{%- if item.product.has_only_default_variant
																== false
														-%}
															{%- for option in item.options_with_values -%}
																<div class="product-option subtitle">
																	<dd>{{ option.name }}:</dd>
																	<dd>{{ option.value }}</dd>
																</div>
															{%- endfor -%}
														{%- endif -%}

                                                      {% comment %}my self start
														{%- for property in item.properties -%}
															{%- assign property_first_char = property.first
																| slice: 0
															-%}
															{%- if property.last != blank
																and property_first_char != '_'
															-%}
																<div class="product-option subtitle">
																	<dt>{{ property.first }}:</dt>
																	<dd>
																		{%- if property.last contains '/uploads/'
																		-%}
																			<a
																				href="{{ property.last }}"
																				class="link"
																				target="_blank"
																				aria-describedby="a11y-new-window-message"
																			>
																				{{ property.last | split: '/' | last }}
																			</a>
																		{%- else -%}
																			{{ property.last }}
																		{%- endif -%}
																	</dd>
																</div>
															{%- endif -%}
														{%- endfor -%}
                                                          my self end{% endcomment %}
                                                              {% comment %}my self start {% endcomment %}
                                                              {% for p in item.properties %}
                                                                {% assign today = 'date_formats.today' | t %}
                                                                {% assign tomorrow = 'date_formats.tomorrow' | t %}
                                                                {% assign dayString = 'date_formats.days_array' | t %}
                                                                
                                                                {% assign isDatePicker = false %}
                                                                {% if today == p.first or tomorrow == p.first or dayString contains p.first %}
                                                                  {% assign isDatePicker = true %}
                                                                {% endif %}
                                                                
                                                                
                                                                {%- assign first_character_in_key = p.first | truncate: 1, '' -%}
                                                                {% unless p.last == blank or first_character_in_key == '_' %}              
                                                                	  <div class="1 cart__item--variants {% if isDatePicker %}cart__item--datepicker{% endif %}">
                                                                		{{ p.first }}:
                                                                		{% if p.last contains '/uploads/' %}
                                                                		<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                                		{% else %}
                                                                		{{ p.last }}
                                                                		{% endif %}
                                                                	  </div>
                                                                {% endunless %}
                                                              {% endfor %}
                                                      {% comment %}my self start {% endcomment %}
													</dl>
													{% if item.selling_plan_allocation != blank %}
														<p class="product-option subtitle">
															{{ item.selling_plan_allocation.selling_plan.name }}
														</p>
													{% endif %}
												{%- endif -%}

												<ul
													class="discounts list-unstyled"
													role="list"
													aria-label="{{ 'customer.order.discount' | t }}"
												>
													{%- for discount in item.discounts -%}
														<li class="discounts__discount">
															{%- render 'icon-discount' -%}
															{{ discount.title }}
														</li>
													{%- endfor -%}
												</ul>

												<div class="cart-item__quantity-price">
													<div class="cart-item__quantity-wrapper">
														<quantity-input class="quantity">
															<button
																class="quantity__button no-js-hidden"
																name="minus"
																type="button"
															>
																<span class="visually-hidden">
																	{{-
																		'products.product.quantity.decrease'
																		| t: product: item.product.title
																		| escape
																	-}}
																</span>
																{% render 'icon-minus' %}
															</button>
															<input
																class="quantity__input"
																type="number"
																name="updates[]"
																value="{{ item.quantity }}"
																min="0"
																aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
																id="Quantity-{{ item.index | plus: 1 }}"
																data-index="{{ item.index | plus: 1 }}"
															>
															<button
																class="quantity__button no-js-hidden"
																name="plus"
																type="button"
															>
																<span class="visually-hidden">
																	{{-
																		'products.product.quantity.increase'
																		| t: product: item.product.title
																		| escape
																	-}}
																</span>
																{% render 'icon-plus' %}
															</button>
														</quantity-input>
													</div>
													{%- if item.original_line_price
															!= item.final_line_price
													-%}
														<div class="cart-item__discounted-prices">
															<span class="visually-hidden">
																{{ 'products.product.price.regular_price' | t }}
															</span>
															<s class="cart-item__old-price price price--end cart-price">
																{{ item.original_line_price | money }}
															</s>
															<span class="visually-hidden">
																{{ 'products.product.price.sale_price' | t }}
															</span>
															<span class="price price--end cart-price">
																{{ item.final_line_price | money }}
															</span>
														</div>
													{%- else -%}
														<span class="price price--end cart-price">
															{{ item.original_line_price | money }}
														</span>
													{%- endif -%}
												</div>

												<div
													id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
													class="cart-item__error"
													role="alert"
												>
													<small class="cart-item__error-text"></small>
													<svg
														aria-hidden="true"
														focusable="false"
														role="presentation"
														class="icon icon-error"
														viewBox="0 0 13 13"
													>
														<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
														<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
														<path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
														<path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
													</svg>
												</div>
											</div>
											<cart-remove-button
												id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
												data-index="{{ item.index | plus: 1 }}"
											>
												<button
													type="button"
													class="unstyled-link button button--simple"
													aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
												>
													{{ 'sections.cart.remove' | t }}
												</button>
											</cart-remove-button>
										</div>
									</div>
								{% endfor %}
							</div>
						{%- endif -%}
						<p
							id="CartDrawer-LiveRegionText"
							class="visually-hidden"
							role="status"
						></p>
						<p
							id="CartDrawer-LineItemStatus"
							class="visually-hidden"
							aria-hidden="true"
							role="status"
						>
							{{ 'accessibility.loading' | t }}
						</p>
					</div>
					<div id="CartDrawer-CartErrors" role="alert"></div>
				</form>
			</cart-drawer-items>
			<div class="drawer__footer">
				<div class="cart-drawer__footer" {{ block.shopify_attributes }}>
					{%- if settings.show_cart_note_drawer -%}
						<details id="Details-CartDrawer">
							<summary class="button button--simple">
								<span class="button-label summary__title">
									{{ 'sections.cart.add_note' | t }}
								</span>
							</summary>
							<cart-note class="cart__note field">
								<label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
								<textarea
									id="CartDrawer-Note"
									class="text-area text-area--resize-vertical field__input"
									name="note"
									placeholder="{{ 'sections.cart.note' | t }}"
								>{{ cart.note }}</textarea>
							</cart-note>
						</details>
					{%- endif -%}
					<div class="totals" role="status">
						<h3 class="totals__subtotal h6">
							{{ 'sections.cart.subtotal' | t }}
						</h3>
						<div class="totals__subtotal-value cart-price price">
							{{ cart.total_price | money_with_currency }}
						</div>
					</div>
					{%- if cart.cart_level_discount_applications.size > 0 -%}
						<ul
							class="discounts list-unstyled"
							role="list"
							aria-label="{{ 'customer.order.discount' | t }}"
						>
							{%- for discount in cart.cart_level_discount_applications -%}
								<li class="discounts__discount">
									{%- render 'icon-discount' -%}
									{{ discount.title }}
									(-{{ discount.total_allocated_amount | money }})
								</li>
							{%- endfor -%}
						</ul>
					{%- endif -%}

					<small class="small-font tax-note">
						{%- if cart.taxes_included
							and shop.shipping_policy.body != blank
						-%}
							{{
								'sections.cart.taxes_included_and_shipping_policy_html'
								| t: link: shop.shipping_policy.url
							}}
						{%- elsif cart.taxes_included -%}
							{{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
						{%- elsif shop.shipping_policy.body != blank -%}
							{{
								'sections.cart.taxes_and_shipping_policy_at_checkout_html'
								| t: link: shop.shipping_policy.url
							}}
						{%- else -%}
							{{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
						{%- endif -%}
					</small>
				</div>

				<div class="cart-drawer__bottom" {{ block.shopify_attributes }}>
					<noscript>
						<button
							type="submit"
							class="cart__update-button button button--primary"
							form="CartDrawer-Form"
						>
							{{ 'sections.cart.update' | t }}
						</button>
					</noscript>
					<button
						type="submit"
						id="CartDrawer-Checkout"
						class="cart__checkout-button button button--primary button--full-width"
						name="checkout"
						form="CartDrawer-Form"
						{% if cart == empty %}
							disabled
						{% endif %}
					>
						<span class="button-label">
							{{- 'sections.cart.checkout' | t -}}
						</span>
					</button>
					{% assign btn_label = 'general.cart.view' | t %}
					{% render 'button',
						btn_style: 'secondary',
						btn_label: btn_label,
						btn_link: routes.cart_url,
						enable_arrow: false
					%}
				</div>
			</div>
		</div>
	</div>
</cart-drawer>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		function isIE() {
			const ua = window.navigator.userAgent;
			const msie = ua.indexOf('MSIE ');
			const trident = ua.indexOf('Trident/');

			return msie > 0 || trident > 0;
		}

		if (!isIE()) return;
		const cartSubmitInput = document.createElement('input');
		cartSubmitInput.setAttribute('name', 'checkout');
		cartSubmitInput.setAttribute('type', 'hidden');
		document.querySelector('#cart').appendChild(cartSubmitInput);
		document
			.querySelector('#checkout')
			.addEventListener('click', function (event) {
				document.querySelector('#cart').submit();
			});
	});
</script>
