<input type="hidden" value="{{ next_url }}" data-next-url>
<input type="hidden" value="{{ count_pages }}" data-total-pages>
<input type="hidden" value="{{ current_page }}" data-current-page>
<div class="button-wrapper no-js-hidden">
	<button class="button button--{{ settings.button_style }} js-load-more focus-inset">
		<span class="button-label">
			{{ 'products.load_more.label' | t }}
		</span>
		{%- render 'icon-loading' -%}
		{% if settings.button_arrow %}
			<span class="button-icon">
				{% render 'icon-button-arrow' %}
			</span>
		{% endif %}
	</button>
</div>
