{{ 'section-countdown.css' | asset_url | stylesheet_tag }}

<script src="{{ 'countdown.js' | asset_url }}" defer="defer"></script>

{%- style -%}
	{% render 'section-padding' %}
	{% render 'section-margin' %}
{%- endstyle -%}

{% liquid
	assign timezone = 'now' | date: '%Z' | plus: 0 | append: ''

	if timezone.size > 1
		assign timezone = 'now' | date: '%Z' | divided_by: 100 | times: 3600.0 | plus: 1800
	else
		assign timezone = 'now' | date: '%Z' | minus: 1 | times: 3600.0
	endif

	assign date_merge = section.settings.date_picker | append: '-' | append: section.settings.time_picker | append: ':00'
	assign date_now = 'now' | date: '%s' | minus: 0
	assign date_settings = date_merge | date: '%s' | minus: 0

	if date_now < date_settings
		assign distance = date_settings | minus: date_now
		assign days = distance | divided_by: 3600 | divided_by: 24 | floor | append: ''
		assign hours = distance | modulo: 86400 | divided_by: 3600 | floor | append: ''
		assign minutes = distance | modulo: 3600 | divided_by: 60 | floor | append: ''
		assign seconds = distance | modulo: 60 | floor | append: ''
	else
		assign days = '00'
		assign hours = '00'
		assign minutes = '00'
		assign seconds = '00'
	endif
%}

<countdown-timer
	class="countdown js-countdown js-countdown-{{ section.id }} section-{{ section.id }}-padding{% if section.settings.enable_border_top %} section_border_top{% endif %}{% if section.settings.enable_border_bottom %} section_border_bottom{% endif %}"
	data-date="{{ section.settings.date_picker }}"
	data-time="{{ section.settings.time_picker }}"
	data-completed="{{ section.settings.completed_countdown }}"
>
	<div class="container">
		<div class="countdown_wrapper">
			{% if section.settings.heading_big != blank %}
				<div class="countdown_heading-wrapper">
					<h2 class="countdown_heading">
						{{ section.settings.heading_big }}
					</h2>
				</div>
			{% endif %}
			<div class="countdown_left-wrapper">
				{% if section.settings.subheading != blank %}
					<div class="countdown__subheading subtitle">
						{{ section.settings.subheading | escape }}
					</div>
				{% endif %}
				<div class="countdown__item-info-block">
					{% if section.settings.heading != blank %}
						<h3 class="countdown__item-info-title">
							{{ section.settings.heading }}
						</h3>
					{% endif %}
					{% if section.settings.description != blank %}
						<div class="countdown__item-info-desc">
							{{ section.settings.description }}
						</div>
					{% endif %}
					{% render 'button', layout: section %}
				</div>

				{%- if section.settings.date_picker != blank -%}
					<div class="countdown__main">
						<div class="countdown__block">
							<div class="countdown__block_num">
								<span
									class="countdown_block_days h2"
								>
									{% if days.size > 1 %}
										{{ days }}
									{% else %}
										{{ 0 | append: days }}
									{% endif %}
								</span>
								<span class="subtitle">
									{{- 'general.countdown.days' | t }}
								</span>
							</div>
						</div>
						<div class="countdown__block">
							<div class="countdown__block_num">
								<span
									class="countdown_block_hours h2"
								>
									{% if hours.size > 1 %}
										{{ hours }}
									{% else %}
										{{ 0 | append: hours }}
									{% endif %}
								</span>
								<span class="subtitle">
									{{- 'general.countdown.hours' | t -}}
								</span>
							</div>
						</div>
						<div class="countdown__block">
							<div class="countdown__block_num">
								<span
									class="countdown_block_minutes h2"
								>
									{% if minutes.size > 1 %}
										{{ minutes }}
									{% else %}
										{{ 0 | append: minutes }}
									{% endif %}
								</span>
								<span class="subtitle">
									{{- 'general.countdown.minutes' | t -}}
								</span>
							</div>
						</div>
						<div class="countdown__block">
							<div class="countdown__block_num">
								<span
									class="countdown_block_seconds h2"
								>
									{% if seconds.size > 1 %}
										{{ seconds }}
									{% else %}
										{{ 0 | append: seconds }}
									{% endif %}
								</span>
								<span class="subtitle">
									{{- 'general.countdown.seconds' | t -}}
								</span>
							</div>
						</div>
					</div>
				{%- endif -%}
				{% if section.settings.countdown_heading != blank %}
					<div class="countdown__end-info">
						<h3 class="h3 countdown__end-info-text">
							{{ section.settings.countdown_heading }}
						</h3>
					</div>
				{% endif %}
			</div>
			<div class="countdown_right-wrapper">
				<div class="countdown_image-wrapper">
					{% if section.settings.image != blank %}
						{% assign image_height = section.settings.image.width
							| divided_by: section.settings.image.aspect_ratio
						%}
						{{
							section.settings.image
							| image_url: width: 3840
							| image_tag:
								loading: 'lazy',
								sizes: '100vw',
								widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
								height: image_height
						}}
					{% else %}
						{{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</countdown-timer>

{% schema %}
{
	"name": "t:sections.countdown.name",
	"tag": "section",
	"class": "countdown-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "inline_richtext",
			"id": "heading_big",
			"default": "Heading",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.all.image.label"
		},
		{
			"type": "header",
			"content": "t:sections.countdown.settings.countdown_settings.content"
		},
		{
			"type": "text",
			"id": "date_picker",
			"default": "2024-10-01",
			"info": "YYYY-MM-DD",
			"label": "t:sections.countdown.settings.date_picker.label"
		},
		{
			"type": "text",
			"id": "time_picker",
			"default": "00:00",
			"info": "hh:mm",
			"label": "t:sections.countdown.settings.time_picker.label"
		},
		{
			"type": "select",
			"id": "completed_countdown",
			"options": [
				{
					"value": "hide_section",
					"label": "t:sections.countdown.settings.completed_countdown.options_1.label"
				},
				{
					"value": "show_text",
					"label": "t:sections.countdown.settings.completed_countdown.options_2.label"
				}
			],
			"default": "show_text",
			"label": "t:sections.countdown.settings.completed_countdown.label"
		},
		{
			"type": "inline_richtext",
			"id": "countdown_heading",
			"default": "Header after countdown",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "inline_richtext",
			"id": "subheading",
			"label": "t:sections.all.subheading.label",
			"default": "Subheading"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Heading",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "inline_richtext",
			"id": "description",
			"default": "Description",
			"label": "t:sections.all.description.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.button.header.content"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "Button label",
			"label": "t:sections.all.button.label.label",
			"info": "t:sections.all.button.label.info"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.all.button.link.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.style.options__2.label"
				},
				{
					"value": "tertiary",
					"label": "t:sections.all.button.style.options__3.label"
				}
			],
			"default": "primary",
			"label": "t:sections.all.button.style.label"
		},
		{
			"type": "checkbox",
			"id": "button_arrow",
			"default": false,
			"label": "t:sections.all.button.arrow.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "xs",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "xs",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.border.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_border_top",
			"default": true,
			"label": "t:sections.all.border.border_enable_top.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_bottom",
			"default": true,
			"label": "t:sections.all.border.border_enable_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.countdown.presets.name"
		}
	]
}
{% endschema %}
