{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-main-cart.css' | asset_url | stylesheet_tag }}

{%- unless settings.cart_type == 'drawer' -%}
	{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
	{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
	<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

<cart-items class="main-cart container{% if cart == empty %} is-empty{% endif %}">
	<div class="page-header">
		<div class="page-header__inner">
			<h1 class="main-page-title page-title h2">
				{{ 'sections.cart.title_first' | t }}
				<span>{{ 'sections.cart.title_last' | t }}</span>
			</h1>
		</div>
	</div>

	<div class="cart__warnings">
		<div class="cart__warnings-wrapper">
			{% comment %}{% render 'icon-account-order-none' %}{% endcomment %}
			<p class="cart__empty-text medium-font">
				{{ 'general.cart.empty_cart' | t }}
				<br>
				{{ 'general.cart.empty_cart_second' | t }}
			</p>
			<a
				href="{{ routes.collections_url | sort_by: 'best-selling' }}"
				class="button button--primary"
			>
				<span class="button-label">
					{{ 'customer.account.account_button_shop' | t }}
				</span>
			</a>
		</div>
	</div>
	<div class="main-cart__wrapper">
		{% for block in section.blocks %}
			{% case block.type %}
				{% when 'main-cart-items' %}
					<div class="main-cart__box">
						<form
							action="{{ routes.cart_url }}"
							class="cart__contents critical-hidden"
							method="post"
							id="cart"
						>
							<div id="main-cart-items" data-id="{{ section.id }}">
								<div class="js-contents">
									{%- if cart != empty -%}
										<table class="cart-items">
											<thead>
												<tr>
													<th
														class="caption-with-letter-spacing subtitle"
														colspan="2"
														scope="col"
													>
														{{ 'sections.cart.headings.product' | t }}
													</th>
													<th
														class="caption-with-letter-spacing subtitle"
														colspan="1"
														scope="col"
													>
														{{ 'sections.cart.headings.price' | t }}
													</th>
													<th
														class="cart-items__heading--wide medium-up caption-with-letter-spacing subtitle"
														colspan="1"
														scope="col"
													>
														{{ 'sections.cart.headings.quantity' | t }}
													</th>
													<th
														class="medium-up caption-with-letter-spacing total-th subtitle"
														colspan="1"
														scope="col"
													>
														{{ 'sections.cart.headings.total' | t }}
													</th>
													<th></th>
												</tr>
											</thead>

											<tbody>
												{%- for item in cart.items -%}
													<tr
														class="cart-item"
														id="CartItem-{{ item.index | plus: 1 }}"
													>
														<td class="cart-item__media">
															{% if item.image %}
																<div class="cart-item__media-wrapper">
																	{% assign image_height = item.image.width
																		| divided_by: item.image.aspect_ratio
																		| ceil
																	%}
																	{% assign style = 'object-fit: '
																		| append: block.settings.image_fit
																		| append: ';'
																	%}
																	{{
																		item.image
																		| image_url: width: 1920
																		| image_tag:
																			loading: 'lazy',
																			width: item.image.width,
																			height: image_height,
																			sizes: '100vw,(min-width: 990px) 80px',
																			widths: '375, 550, 750, 1100, 1500, 1780, 1920',
																			style: style,
																			class: 'cart-item__image'
																	}}
																</div>
															{% endif %}
														</td>
														<td class="cart-item__details">
															{%- if block.settings.show_vendor -%}
																<p class="caption-with-letter-spacing light">
																	{{ item.product.vendor }}
																</p>
															{%- endif -%}

															{%- if block.settings.show_collection_name -%}
																{% for collection in item.product.collections
																	limit: 1
																%}
																	<a
																		href="{{ collection.url }}"
																		class="cart-item__collection-name card__collection-title unstyled-link subtitle"
																	>
																		{{- collection.title | escape -}}
																	</a>
																{% endfor %}
															{%- endif -%}

															<a
																href="{{ item.product.url }}"
																class="cart-item__name break"
															>
																<span>{{ item.product.title | escape }}</span>
															</a>

															{%- if item.product.has_only_default_variant
																	== false
																or item.properties.size != 0
																or item.selling_plan_allocation != null
															-%}
															<dl>
																{%- if item.product.has_only_default_variant
																		== false
																-%}
																	{%- for option in item.options_with_values -%}
																		<div class="product-option subtitle">
																			<dd>{{ option.name }}:</dd>
																			<dd>{{ option.value }}</dd>
																		</div>
																	{%- endfor -%}
																{%- endif -%}
		
																{% comment %}my self start
																{%- for property in item.properties -%}
																	{%- assign property_first_char = property.first
																		| slice: 0
																	-%}
																	{%- if property.last != blank
																		and property_first_char != '_'
																	-%}
																		<div class="product-option subtitle">
																			<dt>{{ property.first }}:</dt>
																			<dd>
																				{%- if property.last contains '/uploads/'
																				-%}
																					<a
																						href="{{ property.last }}"
																						class="link"
																						target="_blank"
																						aria-describedby="a11y-new-window-message"
																					>
																						{{ property.last | split: '/' | last }}
																					</a>
																				{%- else -%}
																					{{ property.last }}
																				{%- endif -%}
																			</dd>
																		</div>
																	{%- endif -%}
																{%- endfor -%}
                                                              my self end{% endcomment %}

                                                              {% comment %}my self start {% endcomment %}
                                
                                                              {% for p in item.properties %}
                                                                
                                                              {% assign today = 'date_formats.today' | t %}
                                                              {% assign tomorrow = 'date_formats.tomorrow' | t %}
                                                              {% assign dayString = 'date_formats.days_array' | t %}
                                                              
                                                              {% assign isDatePicker = false %}
                                                              {% if today == p.first or tomorrow == p.first or dayString contains p.first %}
                                                                {% assign isDatePicker = true %}
                                                              {% endif %}
                                                              
                                                              
                                                              {%- assign first_character_in_key = p.first | truncate: 1, '' -%}
                                                              {% unless p.last == blank or first_character_in_key == '_' %}              
                                                              	  <div class="1 cart__item--variants {% if isDatePicker %}cart__item--datepicker{% endif %}">
                                                              		{{ p.first }}:
                                                              		{% if p.last contains '/uploads/' %}
                                                              		<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                              		{% else %}
                                                              		{{ p.last }}
                                                              		{% endif %}
                                                              	  </div>
                                                              {% endunless %}
                                                              {% endfor %}
                                                              {% comment %}my self start {% endcomment %}
															</dl>

																<p class="product-option">
																	{{ item.selling_plan_allocation.selling_plan.name }}
																</p>
															{%- endif -%}

															<ul
																class="discounts list-unstyled"
																role="list"
																aria-label="{{ 'customer.order.discount' | t }}"
															>
																{%- for discount in item.discounts -%}
																	<li class="discounts__discount">
																		{%- render 'icon-discount' -%}
																		{{ discount.title }}
																	</li>
																{%- endfor -%}
															</ul>

															<p
																class="cart-item__error"
																id="Line-item-error-{{ item.index | plus: 1 }}"
															>
																<span class="cart-item__error-text"></span>
																<svg
																	aria-hidden="true"
																	focusable="false"
																	role="presentation"
																	class="icon icon-error"
																	viewBox="0 0 13 13"
																>
																	<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
																	<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
																	<path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
																	<path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
																</svg>
															</p>
														</td>

														<td class="cart-item__prices">
															<div class="cart-item__price-wrapper small-font">
																{%- if item.original_price != item.final_price
																-%}
																	<dl class="cart-item__discounted-prices">
																		<dt class="visually-hidden">
																			{{
																				'products.product.price.sale_price'
																				| t
																			}}
																		</dt>
																		<dd class="price">
																			{{ item.final_price | money }}
																		</dd>
																		<dt class="visually-hidden">
																			{{
																				'products.product.price.regular_price'
																				| t
																			}}
																		</dt>
																		<dd>
																			<s class="cart-item__old-price price">
																				{{ item.original_price | money }}
																			</s>
																		</dd>
																	</dl>
																{%- else -%}
																	<span class="price">
																		{{ item.original_price | money }}
																	</span>
																{%- endif -%}
															</div>
														</td>

														<td class="cart-item__quantity">
															<quantity-input class="quantity">
																<button
																	class="quantity__button no-js-hidden"
																	name="minus"
																	type="button"
																>
																	<span class="visually-hidden">
																		{{-
																			'products.product.quantity.decrease'
																			| t: product: item.product.title
																			| escape
																		-}}
																	</span>
																	{% render 'icon-minus' %}
																</button>
																<input
																	class="quantity__input"
																	type="number"
																	name="updates[]"
																	value="{{ item.quantity }}"
																	min="0"
																	aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
																	id="Quantity-{{ item.index | plus: 1 }}"
																	data-index="{{ item.index | plus: 1 }}"
																>
																<button
																	class="quantity__button no-js-hidden"
																	name="plus"
																	type="button"
																>
																	<span class="visually-hidden">
																		{{-
																			'products.product.quantity.increase'
																			| t: product: item.product.title
																			| escape
																		-}}
																	</span>
																	{% render 'icon-plus' %}
																</button>
															</quantity-input>
														</td>
														
														<td class="cart-item__totals">
															<div class="cart-item__price-wrapper medium-up small-font">
																<div class="loading-overlay hidden">
																	<div class="loading-overlay__spinner">
																		<svg
																			aria-hidden="true"
																			focusable="false"
																			role="presentation"
																			class="spinner"
																			viewBox="0 0 66 66"
																			xmlns="http://www.w3.org/2000/svg"
																		>
																			<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
																		</svg>
																	</div>
																</div>
																{%- if item.original_line_price
																		!= item.final_line_price
																-%}
																	<dl class="cart-item__discounted-prices">
																		<dt class="visually-hidden">
																			{{
																				'products.product.price.sale_price'
																				| t
																			}}
																		</dt>
																		<dd class="price">
																			{{ item.final_line_price | money }}
																		</dd>
																		<dt class="visually-hidden">
																			{{
																				'products.product.price.regular_price'
																				| t
																			}}
																		</dt>
																		<dd>
																			<s class="cart-item__old-price price">
																				{{ item.original_line_price | money }}
																			</s>
																		</dd>
																	</dl>
																{%- else -%}
																	<span class="price">
																		{{ item.original_line_price | money }}
																	</span>
																{%- endif -%}

																{%- if item.variant.available
																	and item.unit_price_measurement
																-%}
																	<div class="unit-price caption">
																		<span class="visually-hidden">
																			{{-
																				'products.product.price.unit_price'
																				| t
																			-}}
																		</span>
																		{{ item.variant.unit_price | money }}
																		<span aria-hidden="true">/</span>
																		<span class="visually-hidden"
																			>&nbsp;
																			{{-
																				'accessibility.unit_price_separator'
																				| t
																			-}}
																			&nbsp;</span
																		>
																		{%- if item.variant.unit_price_measurement.reference_value
																				!= 1
																		-%}
																			{{- item.variant.unit_price_measurement.reference_value -}}
																		{%- endif -%}
																		{{ item.variant.unit_price_measurement.reference_unit }}
																	</div>
																{%- endif -%}
															</div>
														</td>
														<td class="cart-item__remove">
															<cart-remove-button
																id="Remove-{{ item.index | plus: 1 }}"
																data-index="{{ item.index | plus: 1 }}"
															>
																<a
																	href="{{ item.url_to_remove }}"
																	class="unstyled-link button button--simple"
																	aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
																>
																	{{ 'sections.cart.remove' | t }}
																</a>
															</cart-remove-button>
														</td>
													</tr>
												{%- endfor -%}
											</tbody>
										</table>
									{%- endif -%}
								</div>
							</div>
							<p
								class="visually-hidden"
								id="cart-live-region-text"
								aria-live="polite"
								role="status"
							></p>
							<p
								class="visually-hidden"
								id="shopping-cart-line-item-status"
								aria-live="polite"
								aria-hidden="true"
								role="status"
							>
								{{ 'accessibility.loading' | t }}
							</p>
						</form>
					</div>
				
				{% when 'main-cart-footer' %}
					<div id="main-cart-footer" data-id="{{ section.id }}">
						<div class="cart__footer">
							{%- if block.settings.show_cart_note -%}
								<cart-note class="cart__note field">
									<label for="Cart-note">{{ 'Besondere Anweisungen zur Bestellung' }}</label>
									<textarea
										class="text-area text-area--resize-vertical field__input"
										name="note"
										id="Cart-note"
										placeholder="{{ 'Besondere Anweisungen zur Bestellung' }}"
									>{{ cart.note }}</textarea>
								</cart-note>
							{%- endif -%}
							<div class="cart__blocks">
								{% assign total = cart.total_price | money_without_currency | remove: ',' | plus: 0.0 %}
								{% assign min_total = block.settings.min_spend | plus: 0.0 %}

								<div
									class="cart__blocks-content js-contents-2"
									{{ block.shopify_attributes }}
								>
									<div class="totals__wrapper">
										{% if block.settings.show_shipping  %}
										<div class="totals totals__shipping-wrapper">
											<h3 class="totals__shipping h6">
												{{ 'sections.cart.shipping' | t }}
											</h3>
											<div class="totals__shipping-value cart-price">
												{% if total >= min_total %}
													{{ 'sections.cart.shipping_free' | t }}
												{% else %}
													{{ 'sections.cart.shipping_at_checkout' | t }}
												{% endif %}
											</div>
										</div>
									{% endif %}
										<div class="totals">
											<h3 class="totals__subtotal h6">
												{{ 'sections.cart.subtotal' | t }}:
											</h3>
											<p class="totals__subtotal-value cart-price">
												{{ cart.total_price | money_with_currency }}
											</p>
										</div>

										{%- if cart.cart_level_discount_applications.size > 0 -%}
											<div class="discounts__wrapper">
												<ul
													class="discounts list-unstyled"
													role="list"
													aria-label="{{ 'customer.order.discount' | t }}"
												>
													{%- for discount in cart.cart_level_discount_applications -%}
														<li class="discounts__discount">
															{%- render 'icon-discount' -%}
															{{ discount.title }}
															(-
															{{- discount.total_allocated_amount | money -}}
															)
														</li>
													{%- endfor -%}
												</ul>
											</div>
										{%- endif -%}
									</div>

									<small class="tax-note small-font">
										{%- if cart.taxes_included
											and shop.shipping_policy.body != blank
										-%}
											{{
												'sections.cart.taxes_included_and_shipping_policy_html'
												| t: link: shop.shipping_policy.url
											}}
										{%- elsif cart.taxes_included -%}
											{{
												'sections.cart.taxes_included_but_shipping_at_checkout'
												| t
											}}
										{%- elsif shop.shipping_policy.body != blank -%}
											{{
												'sections.cart.taxes_and_shipping_policy_at_checkout_html'
												| t: link: shop.shipping_policy.url
											}}
										{%- else -%}
											{{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
										{%- endif -%}
									</small>
									<div class="cart__ctas" {{ block.shopify_attributes }}>
										<noscript>
											<button
												type="submit"
												class="cart__update-button button button--primary"
												form="cart"
											>
												<span class="button-label">
													{{- 'sections.cart.update' | t -}}
												</span>
											</button>
										</noscript>
	
										<button
											type="submit"
											class="cart__checkout-button button button--primary"
											name="checkout"
											{% if cart == empty %}
												disabled
											{% endif %}
											form="cart"
										>
											<span class="button-label">
												{{ 'Weiter zur Kasse' }}
											</span>
										</button>
									</div>
								</div>
								
							</div>
						</div>
						{%- if additional_checkout_buttons -%}
							<div class="cart__footer-dynamic-checkout">
								<div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
									{{ content_for_additional_checkout_buttons }}
								</div>
							</div>
						{%- endif -%}
						<div class="cart-errors" id="cart-errors"></div>
					</div>

					{% when '@app' %}
						{% render block %}
				{% endcase %}
		{% endfor %}
	</div>
</cart-items>

{% javascript %}
	class CartNote extends HTMLElement {
		constructor() {
			super();

			this.addEventListener(
				'input',
				debounce((event) => {
					const body = JSON.stringify({ note: event.target.value });
					fetch(`${routes.cart_update_url}`, { ...fetchConfig(), ...{ body } });
				}, 300)
			);
		}
	}

	customElements.define('cart-note', CartNote);
{% endjavascript %}

{% schema %}
{
	"name": "t:sections.main-cart.name",
	"class": "section-main-cart",
	"settings": [
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "main-cart-items",
			"name": "t:sections.main-cart.blocks.main-cart-items.name",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_vendor",
					"default": false,
					"label": "t:sections.all.product_card.show_vendor.label"
				},
				{
					"type": "checkbox",
					"id": "show_collection_name",
					"default": true,
					"label": "t:sections.all.product_card.show_colection_name.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.image.header.content"
				},
				{
					"type": "select",
					"id": "image_fit",
					"options": [
						{
							"value": "cover",
							"label": "t:sections.main-product.settings.image_fit.options__1.label"
						},
						{
							"value": "contain",
							"label": "t:sections.main-product.settings.image_fit.options__2.label"
						}
					],
					"default": "cover",
					"label": "t:sections.main-product.settings.image_fit.label"
				}
			]
		},
		{
			"type": "main-cart-footer",
			"name": "t:sections.main-cart.blocks.main-cart-footer.name",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_cart_note",
					"default": false,
					"label": "t:sections.main-cart.blocks.main-cart-footer.settings.show_cart_note.label"
				},
				{
					"type": "text",
					"id": "min_spend",
					"label": "t:sections.main-cart.blocks.main-cart-footer.settings.min_spend.label",
					"info": "t:sections.main-cart.blocks.main-cart-footer.settings.min_spend.info",
					"default": "100"
				},
				{
					"type": "checkbox",
					"id": "show_shipping",
					"label": "t:sections.main-cart.blocks.main-cart-footer.settings.show_shipping.label",
					"default": true
				}
			]
		},
		{
			"type": "@app"
		}
	]
}
{% endschema %}
