{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-cart-drawer.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'copy.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-single.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'update-slider.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'about.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'section-padding' %}
{%- endstyle -%}

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
	{{ 'component-product-model.css' | asset_url | stylesheet_tag }}
	<link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
	<link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section class="section-{{ section.id }}-padding {% if section.settings.desktop_alignment == 'right' %} product__outer--desktop-right{% endif %}" id="MainProduct-{{ section.id }}" data-section="{{ section.id }}">
	<div class="container product{% if product.media.size > 0 %} row{% else %} product--no-media{% endif %}{% if section.settings.image_gallery_collage == "stacked" %} product__stacked{% endif %}">
		<div class="product__outer{% if section.settings.desktop_alignment == 'left' %} product__outer--desktop-order{% endif %}{% if section.settings.mobile_alignment == 'after' %} product__outer--mobile-order{% endif %} {% if section.settings.mobile_alignment == 'before' %} product__outer--mobile-top{% endif %}">
			{% if section.settings.desktop_alignment == 'right' %}
			<style>
				@media screen and (min-width:1023px) {
					.quick-add-modal__announcement-bar {
						width: 55%;
						left: 0;
						right: unset;
					}
				}
			</style>
		{% endif %}
			<div class="product__info-wrapper">
				<div id="ProductInfo-{{ section.id }}" class="product__info-container">
                    {% comment %}{% include 'category-toggle' %}{% endcomment %}
					{%- assign product_form_id = 'product-form-' | append: section.id -%}
					{%- for block in section.blocks -%}
						{%- case block.type -%}
							{% comment %}{%- when '@app' -%}{% endcomment %}
								{% comment %}<div class="product-about">
									<div class="product-about__outer">
										<div class="product-about__right">
											<div class="product-about__wrapper no-js-hidden">
													<div class="product-about__accordion-item" {{ block.shopify_attributes }}>
														<h2 class="h6 product-about__accordion-title">
															<span>
																{{ 'products.product.reviews' | t }} ({% if product.metafields.reviews.rating_count > 0 %}{{ product.metafields.reviews.rating.value | slice: 0, 3 }}{% else %}0{% endif %})
															</span>
															<div class="product-about__more-link-wrapper">
																<div class="product-about__more-link">
																	{% render 'icon-arrow' %}
																</div>
															</div>
														</h2>
														<div class="product-about__accordion-content" style="display: none">
															{% render block %}
														</div>
													</div>
											</div>
										</div>
									</div>
								</div>{% endcomment %}
                                                    
							{%- when '@app' -%}
								{% render block %}
							{%- when 'text' -%}
								<p class="product__text subtitle" {{ block.shopify_attributes }}>
									{{- block.settings.text -}}
								</p>

                          {% comment %}my self start {% endcomment %}
                          {% if settings.show_breadcrumbs %}
                              {% include 'breadcrumbs-for-product' %}        						
        					{% endif %}
                          {% comment %}my self start {% endcomment %}
							{%- when 'title' -%}
								<div class="product__title__wrapper
									{%- if product.available == false %} price--sold-out {% endif -%}
									{%- if product.compare_at_price > product.price %} price--on-sale {% endif -%}">
										<h1 class="product__title h4" {{ block.shopify_attributes }}>
											{{ product.title | escape }}
										</h1>
								</div>

							{%- when 'tags' -%}
								{%- if product.tags != blank -%}
									<ul class="product-tags product__tags">
										{% for tag in product.tags %}
											<li class="product-tags__tag subtitle">{{ tag }}</li>
										{% endfor %}
									</ul>
								{%- endif -%}

							{%- when 'description' -%}
								{% assign default_open = block.settings.default_open %}
								{% if product.description != blank %}
									{% if block.settings.description_variants == "collapsible" %}
										<div class="product-about">
											<div class="product-about__outer">
												<div class="product-about__right">
													<div class="product-about__wrapper no-js-hidden">
														<div class="product-about__accordion-item" {{ block.shopify_attributes }}>
															<h2 class="subtitle product-about__accordion-title{% if default_open %} active{% endif %}">
																<span>{{ block.settings.description_heading }}</span>
																<div class="product-about__more-link-wrapper">
																	<div class="product-about__more-link">
																		{% render 'icon-arrow' %}
																	</div>
																</div>
															</h2>
															<div class="product-about__accordion-description rte product-about__accordion-content main-product-description small-font"{% if default_open %} style="display: block"{% else %} style="display: none"{% endif %}>
																{{ product.description }}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									{% elsif block.settings.description_variants == "fixed" %}
										<div class="product__description-fixed rte main-product-description medium-font">
											{{ product.description }}

                              
										</div>
									{% endif %}
								{% endif %}

							{%- when 'about' -%}
								<div class="product-about">
									<div class="product-about__outer">
										<div class="product-about__right">
											<div class="product-about__wrapper no-js-hidden">
												{% if block.settings.about_heading != blank %}
													<div class="product-about__accordion-item" {{ block.shopify_attributes }}>
														<h2 class="subtitle product-about__accordion-title">
															<span>{{ block.settings.about_heading }}</span>
															<div class="product-about__more-link-wrapper">
																<div class="product-about__more-link">
																	{% render 'icon-arrow' %}
																</div>
															</div>
														</h2>
														<div class="product-about__accordion-description product-about__accordion-content small-font" style="display: none">
															{{ block.settings.about_heading_content }}
														</div>
													</div>
												{% endif %}
											</div>
										</div>
									</div>
								</div>

							{%- when 'price' -%}
								<div class="no-js-hidden price-wrapper herp{{ product.selected_or_first_available_variant.sku }}" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
									{%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--product' -%}
									{%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
										<div class="product__tax caption rte">
											{%- if cart.taxes_included -%}
												{{ 'products.product.include_taxes' | t }}
											{%- endif -%}
                                          {% comment %}
											{%- if shop.shipping_policy.body != blank -%}
                                                <a href="https://www.shanti-enterprise.ch/policies/shipping-policy">Versand</a> wird an der Kasse berechnet.
											{%- endif -%}
                                          {% endcomment %}
										</div>
									{%- endif -%}
								</div>
                              <p class="product__tax caption rte price-wrapper">
                                  {%- if shop.shipping_policy.body != blank -%}
                                    <a href="https://www.shanti-enterprise.ch/policies/shipping-policy">Versand</a> wird an der Kasse berechnet.
                                  {%- endif -%}
                              </p>
								<div class="installment-wrapper" {{ block.shopify_attributes }}>
									{%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
									{%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
										<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
										{{ form | payment_terms }}
									{%- endform -%}
                                                            
								</div>

                                {%- if product.selected_or_first_available_variant.sku -%}
                                        <p class = "skushown" id="Sku-{{ section.id }}">Artikelnummer: {{ product.selected_or_first_available_variant.sku }}</p>
                                {%- endif -%}
                          
							{%- when 'share' -%}
								{%- if block.settings.show_share_facebook or  block.settings.show_share_twitter or block.settings.show_share_pinterest or block.settings.show_share_copy -%}
									<div class="share-buttons" aria-label="list">
										<div class="share-buttons__label">
											{% comment %}{% render 'icon-share' %} {% endcomment %}
											{% comment %}<span class="share-buttons__label-name subtitle">{{ 'general.share.share' | t }}:</span>{% endcomment %}
                                            <span class="share-buttons__label-name subtitle">{{ 'Share' }}:</span>
										</div>

										<ul class="share-buttons__list">
											{%- if block.settings.show_share_facebook -%}
												<li class="share-buttons__item">
													<a href="https://www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}" class="share-buttons__button link-hover-line-outer facebook-btn" target="_blank" aria-label="facebook">
														{% render 'icon-facebook' %}
														{% comment %}<span class="share-button__name">{{ 'general.share.links.facebook' | t }}</span>{% endcomment %}
													</a>
												</li>
											{%- endif -%}

											{%- if block.settings.show_share_twitter -%}
												<li class="share-buttons__item">
													<a href="https://twitter.com/share?url={{ shop.url | append: product.url }}&text={{ product.title | escape }}" class="share-buttons__button link-hover-line-outer twitter-btn" target="_blank" aria-label="twitter">
														{% render 'icon-twitter' %}
														{% comment %}<span class="share-button__name">{{ 'general.share.links.twitter' | t }}</span>{% endcomment %}
													</a>
												</li>
											{%- endif -%}

											{%- if block.settings.show_share_pinterest -%}
												<li class="share-buttons__item">
													<a href="https://pinterest.com/pin/create/bookmarklet/?media={{ product.featured_media | img_url: '1100x1100' }}&url={{ shop.url | append: product.url }}&description={{ product.title | escape }}" class="share-buttons__button link-hover-line-outer pinterest-btn" target="_blank" aria-label="pinterest">
														{% render 'icon-pinterest' %}
														{% comment %}<span class="share-button__name">{{ 'general.share.links.pinterest' | t }}</span>{% endcomment %}
													</a>
												</li>
											{%- endif -%}

											{%- if block.settings.show_share_copy -%}
												<li class="share-buttons__item copy-wrapper">
													<a href="{{ shop.url | append: product.url }}" class="share-buttons__button link-hover-line-outer copy-btn" aria-label="copy link">
														{% render 'icon-copy' %}
														{% comment %}<span class="share-button__name">{{ 'general.share.links.copy' | t }}</span>{% endcomment %}
													</a>
													<div id="tooltip" class="tooltip">{{ 'general.share.success_message' | t }}</div>
												</li>
											{%- endif -%}
										</ul>
									</div>
								{%- endif -%}

                           

                          
							{%- when 'variant_picker' -%}
								{% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}

							{%- when 'buy_buttons' -%}
								<div {{ block.shopify_attributes }}>
									{%- liquid
										assign gift_card_recipient_feature_active = false
										if block.settings.show_gift_card_recipient and product.gift_card?
											assign gift_card_recipient_feature_active = true
										endif

										assign show_dynamic_checkout = false
										if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
											assign show_dynamic_checkout = true
										endif
									-%}

									<product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
										<div class="product-form__error-message-wrapper" role="alert" hidden>
											<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
												<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
												<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
												<path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
												<path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
											</svg>
											<span class="product-form__error-message"></span>
										</div>
										{%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
											<input
												type="hidden"
												name="id"
												value="{{ product.selected_or_first_available_variant.id }}"
												{% if product.selected_or_first_available_variant.available == false %}
													disabled
												{% endif %}
											>

                                          {% comment %}my self start {% endcomment %}
                                                  {% assign foto_upload_cu = product.metafields.custom.foto_upload %}
                                                  {% assign foto_upload = foto_upload_cu |downcase %}
                                                      {% if foto_upload == 'yes' %}          
                                                        <div class="folo_upload_cu_fi">
                                                          <label for="custom_field">Beschreibung und Grössenangabe: </label>            
                                                          <textarea cols="20" rows="4" name="properties[Beschreibung und Grössenangabe]" id="custom_field" value="{{ product.metafields.custom.foto_upload1 | escape }}"></textarea>
                                                        </div>
                                                        {% endif %}
                                                  {% assign artikelnummer_cu = product.metafields.custom.artikelnummer %}
                                                  {% assign artikelnummer = artikelnummer_cu |downcase %}
                                                      {% if artikelnummer == 'yes' %}
                                                        <div class="main_article_search_di">
                                                          <label for="custom_field">Artikelnummer: *</label>
                                                          
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber1" value="{{ product.metafields.custom.artikelnummer1 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search1 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input1">
                                                                <p onclick="decrement1()">-</p>
                                                                <input type="number" id="quantity1" name="quantity1" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment1()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti1"></div>              
                                                          </div>
                                                          
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber2" value="{{ product.metafields.custom.artikelnummer2 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search2 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input1">
                                                                <p onclick="decrement2()">-</p>
                                                                <input type="number" id="quantity2" name="quantity2" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment2()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti2"></div>              
                                                          </div>
                                              
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber3" value="{{ product.metafields.custom.artikelnummer3 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search3 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input3">
                                                                <p onclick="decrement3()">-</p>
                                                                <input type="number" id="quantity3" name="quantity3" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment3()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti3"></div>              
                                                          </div>
                                              
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber4" value="{{ product.metafields.custom.artikelnummer4 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search4 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input4">
                                                                <p onclick="decrement4()">-</p>
                                                                <input type="number" id="quantity4" name="quantity4" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment4()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti4"></div>              
                                                          </div>
                                              
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber5" value="{{ product.metafields.custom.artikelnummer5 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search5 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input5">
                                                                <p onclick="decrement5()">-</p>
                                                                <input type="number" id="quantity5" name="quantity5" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment5()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti5"></div>              
                                                          </div>
                                              
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber6" value="{{ product.metafields.custom.artikelnummer6 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search6 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input6">
                                                                <p onclick="decrement6()">-</p>
                                                                <input type="number" id="quantity6" name="quantity6" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment6()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti6"></div>              
                                                          </div>
                                              
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber7" value="{{ product.metafields.custom.artikelnummer7 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search7 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input7">
                                                                <p onclick="decrement7()">-</p>
                                                                <input type="number" id="quantity7" name="quantity7" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment7()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti7"></div>              
                                                          </div>
                                              
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber8" value="{{ product.metafields.custom.artikelnummer8 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search8 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input8">
                                                                <p onclick="decrement8()">-</p>
                                                                <input type="number" id="quantity8" name="quantity8" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment8()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti8"></div>              
                                                          </div>
                                              
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber9" value="{{ product.metafields.custom.artikelnummer9 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search9 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input9">
                                                                <p onclick="decrement9()">-</p>
                                                                <input type="number" id="quantity9" name="quantity9" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment9()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti9"></div>              
                                                          </div>
                                              
                                                          <div class="article_search_di_inner">
                                                            <div class="left-input-article-search-di">
                                                              <div class="artikelnummer_cu_fi">                  
                                                                <input type="text" name="properties[Artikelnummer]" data-reproduct="" class="custom_field_artikelnumber_in" id="custom_field_artikelnumber10" value="{{ product.metafields.custom.artikelnummer10 | escape }}">
                                                              </div>
                                                              <p class="loader_ikg_search10 loader_ikg_search" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/files/loader_search_sku.gif"/></p>
                                                              <div class="quantity-input10">
                                                                <p onclick="decrement10()">-</p>
                                                                <input type="number" id="quantity10" name="quantity10" class="cu_quantity" min="1" max="100" step="1" value="1">
                                                                <p onclick="increment10()">+</p>
                                                              </div>
                                                            </div>
                                                            <div class="get_product_arti get_product_arti10"></div>              
                                                          </div>
                                                        </div>
                                                        <button type="button" class="add_pro_bulk">Zum Warenkorb hinzufügen</button>
                                                         <p class="return_mess"></p>
                                                          <script type="text/javascript">
                                                        	$(document).ready(function(){
                                                        		$('.body-template-product .product-form__submit').prop('disabled', true);
                                                        	});
                                                        </script>
                                                          <style type="text/css">
                                                        	.body-template-product .product-form__submit,
                                                            .body-template-product .shopify-payment-button__button,
                                                            .body-template-product quantity-input{
                                                        		display: none;
                                                        	}
                                                            .pro-arti-8856883331363 .site-header-footer {
                                                              display: none;
                                                            }
                                                        </style>
                                                        {% endif %}

                                          {% comment %}my self end {% endcomment %}
                                          
											{%- if gift_card_recipient_feature_active -%}
												{%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
											{%- endif -%}

											<div class="product-form__buttons">
												<div class="product-form__buttons-row">
													{% if block.settings.show_quantity %}
														{%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
														<div class="product-parameters__item product-parameters__variant product-parameters__variant--quantity">
															<div id="Quantity-Form-{{ section.id }}" class="product-parameters__item product-parameters__quantity">
																<div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
																	<quantity-input class="quantity">
																		<button class="quantity__button no-js-hidden" name="minus" type="button">
																			<span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
																			{% render 'icon-minus' %}
																		</button>
																		<input class="quantity__input"
																					 type="number"
																					 name="quantity"
																					 id="Quantity-{{ section.id }}"
																					 data-cart-quantity="{{ cart_qty }}"
																					 min="1"
																					 value="1"
																					 form="{{ product_form_id }}"
																					 aria-label="Quantity"
																		>
																		<button class="quantity__button no-js-hidden" name="plus" type="button">
																			<span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
																			{% render 'icon-plus' %}
																		</button>
																	</quantity-input>
																</div>
															</div>
														</div>
													{% endif %}

													<button
														id = "ProductSubmitButton-{{ section.id }}"
														type="submit"
														name="add"
														class="product-form__submit button {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
														{% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
													>
														{%- if product.selected_or_first_available_variant.available == false -%}
															<span>
																{{ 'products.product.sold_out' | t }}
															</span>
															{%- render 'icon-loading' -%}
														{%- else -%}
															<span>
																{{ 'products.product.add_to_cart' | t }}
															</span>
															{%- render 'icon-loading' -%}
														{%- endif -%}
													</button>
												</div>
												<div class="product-form__checkout">
													{%- if show_dynamic_checkout -%}
														{{ form | payment_button }}
													{%- endif -%}
												</div>
											</div>
										{%- endform -%}
									</product-form>
								</div>

							{%- when 'pickup_availability' -%}
								<div {{ block.shopify_attributes }}>
									{{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

									{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
									
									<div class="pickup-availability-overlay"></div>

									<pickup-availability class="product__pickup-availabilities no-js-hidden" 
										{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} 
											available
										{% endif %}
										data-base-url="{{ shop.url }}{{ routes.root_url }}"
										data-variant-id="{{ product.selected_or_first_available_variant.id }}"
										data-has-only-default-variant="{{ product.has_only_default_variant }}"
									>
										<template>
											<pickup-availability-preview class="pickup-availability-preview">
												{% render 'icon-unavailable' %}
												<div class="pickup-availability-info">
													<p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
													<button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
												</div>
											</pickup-availability-preview>
										</template>
									</pickup-availability>
									<script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
								</div>

							{%- when 'popup' -%}
								<div class="product-popup">
									<modal-opener
										class="no-js-hidden"
										data-modal="#PopupModal-{{ block.id }}"
										{{ block.shopify_attributes }}
									>
										<button
											id="ProductPopup-{{ block.id }}"
											class="product-popup__link product-popup__link--info subtitle"
											type="button"
											aria-haspopup="dialog"
										>
											<span>{{ block.settings.label }}</span>
										</button>
									</modal-opener>
									<div class="product-popup-modal__content-info no-js">
										<h2 class="product-popup-modal__title">
											{{ block.settings.heading }}
										</h2>
										<div class="product-popup-modal__text">
											{{ block.settings.text }}
										</div>
										{%- if block.settings.page.content != blank -%}
                      {{ block.settings.page.content }}
                    {%- endif -%}
									</div>
									<modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
										<div
											role="dialog"
											aria-label="{{ block.settings.label }}"
											aria-modal="true"
											class="product-popup-modal__content"
											tabindex="-1"
										>
											<button
												id="ModalClose-{{ block.id }}"
												type="button"
												class="product-popup-modal__toggle modal-close-button"
												aria-label="{{ 'accessibility.close' | t }}"
											>
												{% render 'icon-close' %}
											</button>
											<div class="product-popup-modal__content-info">
												<h2 class="product-popup-modal__title">
													{{ block.settings.heading }}
												</h2>
												<div class="product-popup-modal__text">
													{{ block.settings.text }}
												</div>
												{%- if block.settings.page.content != blank -%}
                          {{ block.settings.page.content }}
                        {%- endif -%}
											</div>
										</div>
									</modal-dialog>
								</div>		

							{%- when 'complementary' -%}
								<product-recommendations--single class="product-recommendations product-recommendations--single" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary">
									{% if recommendations.performed and recommendations.products_count > 0 %}
										<p class="product-form__group-name product-form__group-name--recommend h6">{{ 'products.product.buy_with' | t }}</p>
										<div class="product-recommendations--single-block">
											{% for recommendation in recommendations.products %}
												<div class="product-card-recommendations">
													{% render 'product-card-horizontal-recommendations',
														product_card_product: recommendation,
														show_secondary_image: block.settings.show_secondary_image,
														show_collection_name: block.settings.show_collection_name,
														show_vendor: block.settings.show_vendor,
														media_size: block.settings.image_ratio,
														media_fit: block.settings.image_fit,
														section_id: block.id,
													%}
												</div>
											{% endfor %}
										</div>
									{% endif %}
								</product-recommendations--single>
							{%- when 'custom_liquid' -%}
								<div class="custom-liquid">
									{{ block.settings.custom_liquid }}
								</div>

							{%- when 'additional_text' -%}
								<div class="additional_text medium-font">
									{{ block.settings.text }}
								</div>

							{%- when 'inventory' -%}
								{% assign inventory = section.blocks | where: "type", "inventory" %}
									{%- for block in inventory -%}
										<div class="inventory" {{ block.shopify_attributes }}>
											<div class="inventory__wrapper">
												<div class="inventory__content">
													<div class="inventory__title">
														<span id="Inventory-{{ section.id }}">
															<span class="inventory__title--default medium-font">
																{% if product.selected_or_first_available_variant.inventory_quantity > 0 %}																											
																	{{ 'products.product.quantity.in_stock' | t: quantity: product.selected_or_first_available_variant.inventory_quantity }}
																	{% if product.selected_or_first_available_variant.inventory_quantity < 10 %}
																		{%- render 'icon-stock-low' -%}
																	{% else %}
																		{%- render 'icon-stock-instock' -%}
																	{% endif %}
                                                                  {% comment %}
																{% else %}
																	{{ 'products.product.quantity.out_of_stock' | t }}
																	{%- render 'icon-stock-default' -%}
                                                                  {% endcomment %}
																{% endif %}
                                                              
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
								{% endfor %}				

							{%- when 'sku' -%}
								<p
									class="product__sku subtitle no-js-hidden {% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}"
									id="Sku-{{ section.id }}"
									role="status"
									{{ block.shopify_attributes }}
								>
									<span class="visually-hidden">{{ 'products.product.sku' | t }}:</span> {{- product.selected_or_first_available_variant.sku -}}
								</p>
						{%- endcase -%}
					{%- endfor -%}
				</div>
			</div>
          {% if customer %}            
			{% if product.media.size > 0 %}
				<div class="product__media-wrapper {% if section.settings.image_gallery_collage == "stacked" %}product__media-wrapper-stacked{% endif %} {% if section.settings.enable_autoheight == false %}autoheight-disabled{% endif %}">
					{% if section.settings.image_gallery_collage == "thumbnail_carousel" %}
						<div class="product__media-list-wrapper media_size-{{ section.settings.image_ratio }}">
							<div class="product__media-sublist js-media-sublist no-js-hidden swiper {% if product.media.size == 1 or product.media.size == 2 %} product__media-item--less{% endif %}">
								<div class="swiper-wrapper">
									{%- if product.selected_or_first_available_variant.featured_media != null -%}
										{%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
										<div class="product__media-subitem swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
											data-media-sub-id="{{ section.id }}-{{ featured_media.id }}"
										>
											<div class="product__media">
												{% assign image_height = featured_media.preview_image.width
													| divided_by: featured_media.preview_image.aspect_ratio
												%}
			
												{{
													featured_media.preview_image
													| image_url: width: 3840
													| image_tag:
														loading: 'lazy',
														width: featured_media.preview_image.width,
														height: image_height,
														sizes: '100vw',
														widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
												}}
											</div>
										</div>
									{%- endif -%}

									{%- for media in product.media -%}
										{%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
											<div class="product__media-subitem swiper-slide {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
													data-media-sub-id="{{ section.id }}-{{ media.id }}"
											>
												<div class="product__media">
													{% assign image_height = media.preview_image.width
														| divided_by: media.preview_image.aspect_ratio
													%}
			
													{{
														media.preview_image
														| image_url: width: 3840
														| image_tag:
															loading: 'lazy',
															width: media.preview_image.width,
															height: image_height,
															sizes: '100vw',
															widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
													}}
												</div>
											</div>
										{%- endunless -%}
									{%- endfor -%}
								</div>
							</div>

							<div class="product__media-list">
								<div class="js-media-list no-js-hidden swiper product__media-list--{% if section.settings.enable_autoheight %}auto-enabled{% endif %}">
									<div class="swiper-wrapper">
										{%- liquid
											assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
											assign media_count = product.media.size 
											-%}

										{%- if product.selected_or_first_available_variant.featured_media != null -%}
											{%- assign featured_media = product.selected_or_first_available_variant.featured_media -%} 
											<div class="product__media-item swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
												{% render 'product-thumbnail', product_card_product: product, media: featured_media, position: 'featured', modal_id: section.id, lazy_load: false %}
											</div>
										{%- endif -%}

										{%- for media in product.media -%}
											{%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
												<div class="product__media-item swiper-slide{% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
														data-media-id="{{ section.id }}-{{ media.id }}"
												>
													{% render 'product-thumbnail', media: media, position: forloop.index, modal_id: section.id, lazy_load: false %}
												</div>
											{%- endunless -%}
										{%- endfor -%}																
									</div>									
									{% if product.media.size > 1 %}
										<div class="swiper-btn swiper-btn--prev">
											<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M8.125 13.5L3.75 9M3.75 9L8.125 4.5M3.75 9H14.25" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</div>
										<div class="swiper-btn swiper-btn--next">
											<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M9.875 4.5L14.25 9M14.25 9L9.875 13.5M14.25 9L3.75 9" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</div>
									{% endif %}
								</div>		
							</div>
							
						</div>

					<div class="no-js product__media-list__container--large{% if product.media.size == 1 %} product__media-list__container--large-one{% endif %} media_size-{{ section.settings.image_ratio }}">
						{% liquid
							assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
							assign media_count = product.media.size 
							%}

						{% if product.selected_or_first_available_variant.featured_media != null %}
							{% assign featured_media = product.selected_or_first_available_variant.featured_media %}
							<div class="product__media-item {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
								{% render 'product-thumbnail', product_card_product: product, media: featured_media, position: 'featured', modal_id: section.id, lazy_load: false %}
							</div>
						{% endif %}

						{% for media in product.media %}
							{% unless media.id == product.selected_or_first_available_variant.featured_media.id %}
								<div class="product__media-item {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
										data-media-id="{{ section.id }}-{{ media.id }}"
								>
									{% render 'product-thumbnail', media: media, position: forloop.index, modal_id: section.id, lazy_load: false %}
								</div>
							{% endunless %}
						{% endfor %}
					</div>
						
					{% else %}
						<div class="{% if section.settings.image_gallery_collage == "stacked" %}product__media-list__container--large{% if product.media.size == 1 %} product__media-list__container--large-one{% endif %}{% endif %} media_size-{{ section.settings.image_ratio }}">
							{% liquid
								assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
								assign media_count = product.media.size 
								%}

							{% if product.selected_or_first_available_variant.featured_media != null %}
								{% assign featured_media = product.selected_or_first_available_variant.featured_media %}
								<div class="product__media-item {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
									{% render 'product-thumbnail', product_card_product: product, media: featured_media, position: 'featured', modal_id: section.id, lazy_load: false %}
								</div>
							{% endif %}

							{% for media in product.media %}
								{% unless media.id == product.selected_or_first_available_variant.featured_media.id %}
									<div class="product__media-item {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
											data-media-id="{{ section.id }}-{{ media.id }}"
									>
										{% render 'product-thumbnail', media: media, position: forloop.index, modal_id: section.id, lazy_load: false %}
									</div>
								{% endunless %}
							{% endfor %}
						</div>
					{% endif %}

					{%- if first_3d_model -%}
						<button
							class="button button--full-width product__xr-button"
							type="button"
							aria-label="{{ 'products.product.xr_button_label' | t }}"
							data-shopify-xr
							data-shopify-model3d-id="{{ first_3d_model.id }}"
							data-shopify-title="{{ product.title | escape }}"
							data-shopify-xr-hidden
						>
							{% render 'icon-3d-model' %}
							{{ 'products.product.xr_button' | t }}
						</button>
					{%- endif -%}

              {% comment %}my self start
					{% if settings.show_breadcrumbs %}
						<nav class="breadcrumb breadcrumb__desktop" role="navigation" aria-label="breadcrumbs">
							<a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}" class="breadcrumb__link">{{ 'general.breadcrumbs.home' | t}}</a>
							<div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
							{% if product.collections[0] %}
								<a href="{{ product.collections[0].url }}" class="breadcrumb__link">{{ product.collections[0].title }}</a>
								<div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
							{% endif %}
							<span>{{ product.title }}</span>
						</nav>
					{% endif %}
                    my self end {% endcomment %}                              
				</div>
			{% endif %}
          {% else %}
            {% if product.metafields.custom.versteckt == true %}
            {% if product.media.size > 0 %}
				<div class="product__media-wrapper {% if section.settings.image_gallery_collage == "stacked" %}product__media-wrapper-stacked{% endif %} {% if section.settings.enable_autoheight == false %}autoheight-disabled{% endif %}">
					
                  <a href="/account/register" class="find-front" data-link="https://www.shanti-enterprise.ch{{ product.url }}">
                    <img class="gen_cu_img product__image-mask image-wrap" src="https://cdn.shopify.com/s/files/1/0719/1635/5875/t/5/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif" alt="Hidden Image">
                  </a>
                </div>
              {% endif %}
      {% else %}
			{% if product.media.size > 0 %}
				<div class="product__media-wrapper {% if section.settings.image_gallery_collage == "stacked" %}product__media-wrapper-stacked{% endif %} {% if section.settings.enable_autoheight == false %}autoheight-disabled{% endif %}">
					{% if section.settings.image_gallery_collage == "thumbnail_carousel" %}
						<div class="product__media-list-wrapper media_size-{{ section.settings.image_ratio }}">
							<div class="product__media-sublist js-media-sublist no-js-hidden swiper {% if product.media.size == 1 or product.media.size == 2 %} product__media-item--less{% endif %}">
								<div class="swiper-wrapper">
									{%- if product.selected_or_first_available_variant.featured_media != null -%}
										{%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
										<div class="product__media-subitem swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
											data-media-sub-id="{{ section.id }}-{{ featured_media.id }}"
										>
											<div class="product__media">
												{% assign image_height = featured_media.preview_image.width
													| divided_by: featured_media.preview_image.aspect_ratio
												%}
			
												{{
													featured_media.preview_image
													| image_url: width: 3840
													| image_tag:
														loading: 'lazy',
														width: featured_media.preview_image.width,
														height: image_height,
														sizes: '100vw',
														widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
												}}
											</div>
										</div>
									{%- endif -%}

									{%- for media in product.media -%}
										{%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
											<div class="product__media-subitem swiper-slide {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
													data-media-sub-id="{{ section.id }}-{{ media.id }}"
											>
												<div class="product__media">
													{% assign image_height = media.preview_image.width
														| divided_by: media.preview_image.aspect_ratio
													%}
			
													{{
														media.preview_image
														| image_url: width: 3840
														| image_tag:
															loading: 'lazy',
															width: media.preview_image.width,
															height: image_height,
															sizes: '100vw',
															widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
													}}
												</div>
											</div>
										{%- endunless -%}
									{%- endfor -%}
								</div>
							</div>

							<div class="product__media-list">
								<div class="js-media-list no-js-hidden swiper product__media-list--{% if section.settings.enable_autoheight %}auto-enabled{% endif %}">
									<div class="swiper-wrapper">
										{%- liquid
											assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
											assign media_count = product.media.size 
											-%}

										{%- if product.selected_or_first_available_variant.featured_media != null -%}
											{%- assign featured_media = product.selected_or_first_available_variant.featured_media -%} 
											<div class="product__media-item swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
												{% render 'product-thumbnail', product_card_product: product, media: featured_media, position: 'featured', modal_id: section.id, lazy_load: false %}
											</div>
										{%- endif -%}

										{%- for media in product.media -%}
											{%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
												<div class="product__media-item swiper-slide{% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
														data-media-id="{{ section.id }}-{{ media.id }}"
												>
													{% render 'product-thumbnail', media: media, position: forloop.index, modal_id: section.id, lazy_load: false %}
												</div>
											{%- endunless -%}
										{%- endfor -%}																
									</div>									
									{% if product.media.size > 1 %}
										<div class="swiper-btn swiper-btn--prev">
											<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M8.125 13.5L3.75 9M3.75 9L8.125 4.5M3.75 9H14.25" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</div>
										<div class="swiper-btn swiper-btn--next">
											<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M9.875 4.5L14.25 9M14.25 9L9.875 13.5M14.25 9L3.75 9" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</div>
									{% endif %}
								</div>		
							</div>
							
						</div>

					<div class="no-js product__media-list__container--large{% if product.media.size == 1 %} product__media-list__container--large-one{% endif %} media_size-{{ section.settings.image_ratio }}">
						{% liquid
							assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
							assign media_count = product.media.size 
							%}

						{% if product.selected_or_first_available_variant.featured_media != null %}
							{% assign featured_media = product.selected_or_first_available_variant.featured_media %}
							<div class="product__media-item {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
								{% render 'product-thumbnail', product_card_product: product, media: featured_media, position: 'featured', modal_id: section.id, lazy_load: false %}
							</div>
						{% endif %}

						{% for media in product.media %}
							{% unless media.id == product.selected_or_first_available_variant.featured_media.id %}
								<div class="product__media-item {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
										data-media-id="{{ section.id }}-{{ media.id }}"
								>
									{% render 'product-thumbnail', media: media, position: forloop.index, modal_id: section.id, lazy_load: false %}
								</div>
							{% endunless %}
						{% endfor %}
					</div>
						
					{% else %}
						<div class="{% if section.settings.image_gallery_collage == "stacked" %}product__media-list__container--large{% if product.media.size == 1 %} product__media-list__container--large-one{% endif %}{% endif %} media_size-{{ section.settings.image_ratio }}">
							{% liquid
								assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
								assign media_count = product.media.size 
								%}

							{% if product.selected_or_first_available_variant.featured_media != null %}
								{% assign featured_media = product.selected_or_first_available_variant.featured_media %}
								<div class="product__media-item {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
									{% render 'product-thumbnail', product_card_product: product, media: featured_media, position: 'featured', modal_id: section.id, lazy_load: false %}
								</div>
							{% endif %}

							{% for media in product.media %}
								{% unless media.id == product.selected_or_first_available_variant.featured_media.id %}
									<div class="product__media-item {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
											data-media-id="{{ section.id }}-{{ media.id }}"
									>
										{% render 'product-thumbnail', media: media, position: forloop.index, modal_id: section.id, lazy_load: false %}
									</div>
								{% endunless %}
							{% endfor %}
						</div>
					{% endif %}

					{%- if first_3d_model -%}
						<button
							class="button button--full-width product__xr-button"
							type="button"
							aria-label="{{ 'products.product.xr_button_label' | t }}"
							data-shopify-xr
							data-shopify-model3d-id="{{ first_3d_model.id }}"
							data-shopify-title="{{ product.title | escape }}"
							data-shopify-xr-hidden
						>
							{% render 'icon-3d-model' %}
							{{ 'products.product.xr_button' | t }}
						</button>
					{%- endif -%}

              {% comment %}my self start
					{% if settings.show_breadcrumbs %}
						<nav class="breadcrumb breadcrumb__desktop" role="navigation" aria-label="breadcrumbs">
							<a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}" class="breadcrumb__link">{{ 'general.breadcrumbs.home' | t}}</a>
							<div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
							{% if product.collections[0] %}
								<a href="{{ product.collections[0].url }}" class="breadcrumb__link">{{ product.collections[0].title }}</a>
								<div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
							{% endif %}
							<span>{{ product.title }}</span>
						</nav>
					{% endif %}
                    my self end {% endcomment %}                              
				</div>
			{% endif %}
            {% endif %} 
          {% endif %}                                               
		</div>
	</div>

	{%- for block in section.blocks -%}
		{% if block.type == "modals" %}
			{% if block.settings.modal_label_1 != blank %}
				<div id="ProductModalInfo-{{ section.id }}-1" class="product-info-modal">
					<div class="product-info-modal__scroll">
						<div class="product-info-modal__content">
							<div class="h4 product-info-modal__title">{{ block.settings.modal_heading_1 }}</div>
							<div class="product-info-modal__text">{{ block.settings.modal_text_1 }}</div>
						</div>
					</div>
				</div>
			{% endif %}

			{% if block.settings.modal_label_2 != blank %}
				<div id="ProductModalInfo-{{ section.id }}-2" class="product-info-modal">
					<div class="product-info-modal__scroll">
						<div class="product-info-modal__content">
							<div class="h4 product-info-modal__title">{{ block.settings.modal_heading_2 }}</div>
							<div class="product-info-modal__text">{{ block.settings.modal_text_2 }}</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{%- endfor -%}

	<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
		<div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
			<button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle modal-close-button" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
			<div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
				{%- for media in product.media -%}
					{% if media.media_type == 'image' %}
						{% capture sizes %}
							(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
						{% endcapture %}
						{{
							media.preview_image
							| image_url: width: 720
							| image_tag:
								loading: 'lazy',
								sizes: sizes,
								widths: '165, 360, 533, 720, 940, 1066',
								class: 'motion-reduce',
								width: media.preview_image.width,
								height: media.preview_image.height,
								data-media-id: media.id
						}}
					{% else %}
						{% if media.media_type == 'model' %}
							<div class="product-media-modal__model" data-media-id="{{ media.id }}">
							<product-model class="deferred-media media" style="padding-bottom: 50%">
						{% else %}
							<deferred-media class="deferred-media media" style="padding-bottom: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
						{% endif %}
		
						<button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
							<span class="deferred-media__poster-button motion-reduce">
								{% if media.media_type == 'model' %}
									{% render 'icon-3d-model' %}
								{% else %}
									{% render 'icon-play' %}
								{% endif %}
							</span>
							{% assign image_height = media.preview_image.width
								| divided_by: media.preview_image.aspect_ratio
							%}

							{{
								media.preview_image
								| image_url: width: 3840
								| image_tag:
									loading: 'lazy',
									width: media.preview_image.width,
									height: image_height,
									sizes: '100vw',
									widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
							}}
						</button>
						<template>
							{% case media.media_type %}
								{% when 'external_video' %}
									{% assign video_class = 'js-' | append: media.host %}
									{% if media.host == 'youtube' %}
										{{ media | external_video_url: autoplay: true, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
									{% else %}
										{{ media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy" }}
									{% endif %}
								{% when 'video' %}
									{{ media | media_tag: image_size: "2048x", autoplay: true, controls: true, preload: "none", autoplay: true, class: "data-alt" }}
								{% when 'model' %}
									{{ media | media_tag: image_size: "2048x", toggleable: true }}
							{% endcase %}
						</template>
		
						{% if media.media_type == 'model' %}
							</product-model>
							<button
								class="button button--full-width product__xr-button"
								type="button"
								aria-label="{{ 'products.product.xr_button_label' | t }}"
								data-shopify-xr
								data-shopify-model3d-id="{{ media.id }}"
								data-shopify-title="title"
								data-shopify-xr-hidden
							>
								{% render 'icon-3d-model' %}
								{{ 'products.product.xr_button' | t }}
							</button>
							</div>
						{% else %}
							</deferred-media>
						{% endif %}
					{%- endif -%}
				{%- endfor -%}
			</div>
		</div>
	</product-modal>

	{%- liquid
		if product.selected_or_first_available_variant.featured_media
			assign seo_media = product.selected_or_first_available_variant.featured_media
		else
			assign seo_media = product.featured_media
		endif
	-%}

	<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</section>

{% javascript %}
	class ProductModal extends ModalDialog {
		constructor() {
			super();
		}

		hide() {
			super.hide();
			window.pauseAllMedia();
		}

		show(opener) {
			super.show(opener);
			this.showActiveMedia();
		}

		showActiveMedia() {
			this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
					element.classList.remove('active');
				}
			)
			const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
			if (activeMedia) {
				activeMedia.classList.add('active');
				activeMedia.scrollIntoView();
			}
			
			if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
				activeMedia.loadContent();
		}
	}

	class ProductRecommendations extends HTMLElement {
		constructor() {
			super();

			const handleIntersection = (entries, observer) => {
				if (!entries[0].isIntersecting) return;
				observer.unobserve(this);

				fetch(this.dataset.url)
					.then(response => response.text())
					.then(text => {
						const html = document.createElement('div');
						html.innerHTML = text;
						const recommendations = html.querySelector('product-recommendations--single');
						if (recommendations && recommendations.innerHTML.trim().length) {
							this.innerHTML = recommendations.innerHTML;
						}
					})
					.catch(e => {
						console.error(e);
					});
			}

			new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
		}
	}

	customElements.define('product-modal', ProductModal);
	customElements.define('product-recommendations--single', ProductRecommendations);

{% endjavascript %}

{%- if first_3d_model -%}
	<script type="application/json" id="ProductJSON-{{ product.id }}">
	{{ product.media | where: 'media_type', 'model' | json }}

	</script>

	<script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
	"settings": [
		{
			"type": "header",
			"content": "t:sections.main-product.settings.header.content",
			"info": "t:sections.main-product.settings.header.info"
		},
		{
			"type": "select",
			"id": "image_gallery_collage",
			"info": "t:sections.main-product.settings.image_collage.info",
			"options": [
				{
					"value": "stacked",
					"label": "t:sections.main-product.settings.image_collage.options__1.label"
				},
				{
					"value": "thumbnail_carousel",
					"label": "t:sections.main-product.settings.image_collage.options__2.label"
				}
			],
			"default": "thumbnail_carousel",
			"label": "t:sections.main-product.settings.image_collage.label"
		},
		{
			"type": "select",
			"id": "desktop_alignment",
			"options": [
				{
					"value": "right",
					"label": "t:sections.main-product.settings.desktop_alignment.options__1.label"
				},
				{
					"value": "left",
					"label": "t:sections.main-product.settings.desktop_alignment.options__2.label"
				}
			],
			"default": "left",
			"label": "t:sections.main-product.settings.desktop_alignment.label"
		},
		{
			"type": "select",
			"id": "mobile_alignment",
			"options": [
				{
					"value": "after",
					"label": "t:sections.main-product.settings.mobile_alignment.options__1.label"
				},
				{
					"value": "before",
					"label": "t:sections.main-product.settings.mobile_alignment.options__2.label"
				}
			],
			"default": "before",
			"label": "t:sections.main-product.settings.mobile_alignment.label"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "square",
			"label": "t:sections.main-product.settings.image_ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"options": [
				{
					"value": "cover",
					"label": "t:sections.main-product.settings.image_fit.options__1.label"
				},
				{
					"value": "contain",
					"label": "t:sections.main-product.settings.image_fit.options__2.label"
				}
			],
			"default": "cover",
			"label": "t:sections.main-product.settings.image_fit.label"
		},
		{
			"type": "checkbox",
			"id": "enable_autoheight",
			"default": false,
			"label": "t:sections.main-product.settings.enable_autoheight.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "text",
			"name": "t:sections.main-product.blocks.text.name",
			"settings": [
			{
				"type": "text",
				"id": "text",
				"default": "Text block",
				"label": "t:sections.main-product.blocks.text.settings.text.label"
			}
			]
		},
		{
			"type": "title",
			"name": "t:sections.main-product.blocks.title.name",
			"limit": 1
		},
		{
			"type": "price",
			"name": "t:sections.main-product.blocks.price.name",
			"limit": 1
		},
		{
			"type": "variant_picker",
			"name": "t:sections.main-product.blocks.variant_picker.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "picker_type",
					"options": [
						{
							"value": "dropdown",
							"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
						},
						{
							"value": "button",
							"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
						}
					],
					"default": "button",
					"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
				}
			]
		},
		{
			"type": "about",
			"name": "t:sections.main-product.blocks.about.name",
			"limit": 5,
			"settings": [
				{
				"type": "text",
				"id": "about_heading",
				"default": "Some title",
				"label": "t:sections.main-product.blocks.about.settings.heading.label"
				},
				{
					"type": "richtext",
					"id": "about_heading_content",
					"default": "<p>Some description</p>",
					"label": "t:sections.main-product.blocks.about.settings.text.label"
				}
			]
		},
		{
			"type": "description",
			"name": "t:sections.main-product.blocks.description.name",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "description_heading",
					"default": "Description",
					"label": "t:sections.main-product.blocks.description.settings.heading.label",
					"info": "t:sections.main-product.blocks.description.settings.heading.info"
				},
				{
					"type": "checkbox",
					"id": "default_open",
					"default": false,
					"label": "t:sections.all.collapsible.default_open.label",
					"info": "t:sections.all.collapsible.default_open.info"
				},
				{
					"type": "select",
					"id": "description_variants",
					"options": [
						{
							"value": "collapsible",
							"label": "t:sections.main-product.blocks.description.settings.description_variants.options__1.label"
						},
						{
							"value": "fixed",
							"label": "t:sections.main-product.blocks.description.settings.description_variants.options__2.label"
						}
					],
					"default": "collapsible",
					"label": "t:sections.main-product.blocks.description.settings.description_variants.label"
				}
			]
		},
		{
			"type": "buy_buttons",
			"name": "t:sections.main-product.blocks.buy_buttons.name",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_dynamic_checkout",
					"default": true,
					"label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
					"info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
				},
				{
					"type": "checkbox",
					"id": "show_quantity",
					"default": true,
					"label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity.label"
				},
				{
					"type": "checkbox",
					"id": "show_gift_card_recipient",
					"default": false,
					"label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
					"info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
				}
			]
		},
		{
			"type": "popup",
			"name": "t:sections.main-product.blocks.popup.name",
			"limit": 2,
			"settings": [
				{
					"id": "label",
					"type": "text",
					"default": "Pop-up link text",
					"label": "t:sections.main-product.blocks.popup.settings.link_label.label"
				},
				{
					"id": "heading",
					"type": "text",
					"default": "Popup heading",
					"label": "t:sections.main-product.blocks.popup.settings.heading.label"
				},
				{
					"id": "text",
					"type": "richtext",
					"default": "<p>Some text</p>",
					"label": "t:sections.main-product.blocks.popup.settings.text.label"
				},
				{
					"type": "page",
					"id": "page",
					"label": "t:sections.main-product.blocks.popup.settings.page.label"
				}
			]
		},
		{
			"type": "tags",
			"name": "t:sections.main-product.blocks.tags.name",
			"limit": 1
		},
		{
			"type": "share",
			"name": "t:sections.main-product.blocks.share.name",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_share_facebook",
					"default": true,
					"label": "t:sections.main-product.blocks.share.settings.show_share_facebook.label"
				},
				{
					"type": "checkbox",
					"id": "show_share_twitter",
					"default": true,
					"label": "t:sections.main-product.blocks.share.settings.show_share_twitter.label"
				},
				{
					"type": "checkbox",
					"id": "show_share_pinterest",
					"default": true,
					"label": "t:sections.main-product.blocks.share.settings.show_share_pinterest.label"
				},
				{
					"type": "checkbox",
					"id": "show_share_copy",
					"default": true,
					"label": "t:sections.main-product.blocks.share.settings.show_share_copy.label"
				}
			]
		},
		{
			"type": "pickup_availability",
			"name": "t:sections.main-product.blocks.pickup_availability.name",
			"limit": 1
		},
		{
			"type": "complementary",
			"name": "t:sections.main-product.blocks.complementary_products.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
				},
				{
					"type": "range",
					"id": "product_list_limit",
					"min": 1,
					"max": 10,
					"step": 1,
					"default": 1,
					"label": "t:sections.main-product.blocks.complementary_products.settings.product_list_limit.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.product_card.header.content"
				},
				{
					"type": "checkbox",
					"id": "show_secondary_image",
					"default": true,
					"label": "t:sections.all.product_card.show_secondary_image.label"
				},
				{
					"type": "checkbox",
					"id": "show_vendor",
					"default": false,
					"label": "t:sections.all.product_card.show_vendor.label"
				},
				{
					"type": "checkbox",
					"id": "show_collection_name",
					"default": true,
					"label": "t:sections.all.product_card.show_colection_name.label"
				},
				{
					"type": "select",
					"id": "image_ratio",
					"options": [
						{
							"value": "landscape",
							"label": "t:sections.all.image.ratio.options__1.label"
						},
						{
							"value": "portrait",
							"label": "t:sections.all.image.ratio.options__2.label"
						},
						{
							"value": "square",
							"label": "t:sections.all.image.ratio.options__3.label"
						}
					],
					"default": "square",
					"label": "t:sections.all.image.ratio.label"
				},
				{
					"type": "select",
					"id": "image_fit",
					"label": "t:sections.all.image.fit.label",
					"default": "cover",
					"options": [
						{
							"value": "contain",
							"label": "t:sections.all.image.fit.options__1.label"
						},
						{
							"value": "cover",
							"label": "t:sections.all.image.fit.options__2.label"
						}
					]
				}
			]
		},
		{
			"type": "custom_liquid",
			"name": "t:sections.main-product.blocks.custom_liquid.name",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
					"info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
				}
			]
		},
		{
			"type": "inventory",
			"name": "t:sections.main-product.blocks.inventory.name",
			"limit": 1,
			"settings": []
		},
		{
			"type": "additional_text",
			"name": "t:sections.main-product.blocks.additional_text.name",
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"default": "<p>Some description</p>",
					"label": "t:sections.contact-form.settings.text.label"
				}
			]
		},
		{
			"type": "sku",
			"name": "t:sections.all.sku.name",
			"limit": 1
		}
  ]
}

{% endschema %}

