
{% comment %}{% include 'product-toggle' %}
{% if collection.filters.size > 0 %}
  <form id="collection-filters" method="get">
    {% for filter in collection.filters %}
      <fieldset>
        <legend>{{ filter.label }}</legend>
        {% for value in filter.values %}
          <label>
            <input type="checkbox" name="{{ filter.param_name }}" value="{{ value.value }}" {% if value.active %}checked{% endif %}>
            {{ value.label }}
          </label>
        {% endfor %}
      </fieldset>
    {% endfor %}
    <button type="submit">Apply Filters</button>
  </form>
{% endif %}
{% endcomment %}
{{ 'section-main-collection-banner.css' | asset_url | stylesheet_tag }}

{% liquid

	assign show_img = section.settings.show_image
	assign image_size = section.settings.image_size



	case image_size
		when 'adapt'
			assign section_size = 'adapt'
		when 'small'
			assign section_size = '18vh'
		when 'medium'
			assign section_size = '60vh'
		when 'large'
			assign section_size = 'calc(100vh - var(--header-height))'
		else
			assign section_size = 'calc(100vh - var(--header-height))'
	endcase

	assign collection_image = collection.image
	if collection_image == blank and collection.id == blank
		assign collection_image = section.settings.image_products
	endif
	assign image_height = collection_image.width | divided_by: collection_image.aspect_ratio
	assign adapt_height = 1 | divided_by: collection_image.aspect_ratio | times: 100 | append: '%'
	if image_size == 'adapt'
		assign section_size = adapt_height
	endif
	assign collection_description = collection.description
	if collection.id == blank
		assign collection_description = section.settings.description_products
	endif

	if show_img or section.settings.image_products != blank 
		assign show_image = 'show_img'
	else
		assign show_image = ''
	endif

	if show_img or section.settings.image_products != blank 
		assign overlay_enable = 'have-overlay'
	else
		assign overlay_enable = ''
	endif
%}
{% style %}
	 {% render 'section-margin' %}
	 {% render 'section-padding' %}
	#shopify-section-{{ section.id }}{
		--slide-height : {{ section_size }};
	}
	
	[data-id="{{ section.id }}"] .have-overlay {
		--overlay-alpha : {{ section.settings.overlay_opacity }}%;
	}
	
{% endstyle %}

{% if collection.metafields.custom.category_type_product == true %}
  {% assign block_product =  'block_product' %}
{% elsif collection.metafields.custom.category_type_product == false %}
  {% assign block_catalog =  'block_catalog' %}
{% else %}
  {% assign block_product =  'block_product' %}
{% endif %} 

{% include 'self-collection-add' %}

{% if section.settings.section_layout == 'container' %}
	<div class="{{ block_product }} container" style="display: none;">
{% endif %}
	<div class="{{ block_product }} collection-banner" data-id="{{ section.id }}" style="display: none;">
		<div class="collection-banner__body color-{{ section.settings.color_scheme }} background {{ overlay_enable }} {{ show_image }} ">
			{% if settings.show_breadcrumbs %}
				<div class="{% if section.settings.section_layout == 'container' %}container-small{% else %}container{% endif %}">
					<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
						<a
							href="{{ routes.root_url }}"
							title="{{ 'general.breadcrumbs.home' | t }}"
							class="breadcrumb__link"
						>
							{{ 'general.breadcrumbs.home' | t }}
						</a>
						
				
						<div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
						<span>{{ collection.title }}</span>
					</nav>
				</div>
			{% endif %}
			<div class="{% if section.settings.section_layout == 'container' %}container-small{% else %}container{% endif %}">
				<div class="collection-banner__wrapper section-{{ section.id }}-padding">
					{%- if show_img and collection_image != blank -%}
						
						<div class="collection-banner__img">
							{{
								collection_image
								| image_url: width: 3840
								| image_tag:
									loading: 'lazy',
									width: collection_image.width,
									height: image_height,
									sizes: '100vw',
									widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
							}}
						</div>
						{%- elsif section.settings.image_products != blank -%}
						<div class="collection-banner__img">
							{{
								section.settings.image_products
								| image_url: width: 3840
								| image_tag:
									loading: 'lazy',
									width: collection_image.width,
									height: image_height,
									sizes: '100vw',
									widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
							}}
						</div>
					{% endif %}
					<div class="collection-banner__text">
						<h1 class="collection-banner__title h2">
							<span class="visually-hidden">
								{{- 'sections.collection_template.title' | t }}:
							</span>
							{{- collection.title | escape -}}
							{% if section.settings.show_word
								and section.settings.add_word != blank
							%}
								<span>{{ section.settings.add_word }}</span>
							{% endif %}
						</h1>
						{%- if section.settings.show_collection_description
							and collection_description != blank
						-%}
							<div class="collection-banner__desc rte large-font">
								{{ collection_description }}
							</div>
						{%- endif -%}
					</div>
					<div class="collection-banner-item-btns">
						{% if section.settings.subheading != blank %}
							<div class="subtitle">
								{{ section.settings.subheading  }}
							</div>
						{% endif %}
						{% if section.settings.subheading_second != blank %}
							<div class="subtitle">
								{{ section.settings.subheading_second }}
							</div>
						{% endif %}
				</div>
                  <div class="vertival-btn-cu">
                    <img src="https://cdn.shopify.com/s/files/1/0719/1635/5875/t/51/assets/ShantiE_Qualitaetsbutton_49mm_250225_Deutsch_fin.png"/>
                  </div>
			</div>
		</div>
	</div>
{% if section.settings.section_layout == 'container' %}
	</div>
{% endif %}
{% schema %}
{
	"name": "t:sections.main-collection-banner.name",
	"tag": "section",
	"class": "collection-banner-section spaced-section--full-width section-template--overlay",
	"settings": [
		{
			"type": "paragraph",
			"content": "t:sections.main-collection-banner.settings.paragraph.content"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-6",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"min": 0,
			"max": 100,
			"default": 20,
			"step": 1,
			"unit": "%",
			"label": "t:sections.all.overlay_opacity.label"
		},
		{
			"type": "select",
			"id": "section_layout",
			"default": "full",
			"label": "t:sections.all.section_layout.label",
			"options": [
				{
					"value": "full",
					"label": "t:sections.all.section_layout.options.options__1.label"
				},
				{
					"value": "container",
					"label": "t:sections.all.section_layout.options.options__2.label"
				}
			]
		},
		{
			"type": "text",
			"id": "add_word",
			"label": "t:sections.main-collection-banner.settings.add_word.label",
			"default": "Collection"
		},
		{
			"type": "checkbox",
			"id": "show_word",
			"default": false,
			"label": "t:sections.main-collection-banner.settings.show_word.label"
		},
		{
			"type": "checkbox",
			"id": "show_collection_description",
			"default": true,
			"label": "t:sections.main-collection-banner.settings.show_collection_description.label"
		},
		{
			"type": "inline_richtext",
			"default": "description",
			"id": "description_products",
			"label": "t:sections.main-collection-banner.settings.description_products.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "image_picker",
			"id": "image_products",
			"label": "t:sections.main-collection-banner.settings.image_products.label",
			"info": "t:sections.main-collection-banner.settings.image_products.info"
		},

		{
			"type": "select",
			"id": "image_size",
			"default": "small",
			"label": "t:sections.all.image.size.label",
			"options": [
				{
					"value": "adapt",
					"label": "t:sections.all.image.size.options__1.label"
				},
				{
					"value": "small",
					"label": "t:sections.all.image.size.options__2.label"
				},
				{
					"value": "medium",
					"label": "t:sections.all.image.size.options__3.label"
				},
				{
					"value": "large",
					"label": "t:sections.all.image.size.options__4.label"
				}
			]
		},

		{
			"type": "checkbox",
			"id": "show_image",
			"default": true,
			"label": "t:sections.main-collection-banner.settings.show_collection_image.label"
		},
		{
			"type": "inline_richtext",
			"id": "subheading",
			"label": "t:sections.all.subheading.label_1",
			"default": "Subheading"
		},
		{
			"type": "inline_richtext",
			"id": "subheading_second",
			"label": "t:sections.all.subheading.label_2",
			"default": "Subheading"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "xs",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		}
	]
}
{% endschema %}
