{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'input.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'login.js' | asset_url }}" defer="defer"></script>
{%- style -%}
	{% render 'section-margin' %}
	{% render 'section-padding' %}
{%- endstyle -%}

<div class="article-template section-{{ section.id }}-padding  {% if section.settings.enable_border_top %} section_border_top{% endif %}{% if section.settings.enable_border_bottom %} section_border_bottom{% endif %}">
	<div class="">
		<div class="login-wrapper container">
			{%- if section.settings.section_heading != blank -%}
				<h2 class="section-header__title title--section ">
					<span class="section-header__text">
						{{- section.settings.section_heading -}}
					</span>
				</h2>
			{% endif %}

			<div class="login-wrapper__image">
				<div class="login-wrapper__item-img color-{{ section.settings.color_scheme }} background">
					<div class="login-wrapper__image-box">
						{%- if section.settings.image != blank -%}
							{% assign image_height = section.settings.image.width
								| divided_by: section.settings.image.aspect_ratio
							%}
							{{
								section.settings.image
								| image_url: width: 1296
								| image_tag:
									loading: 'lazy',
									width: section.settings.image.width,
									height: image_height,
									sizes: '100vw,(min-width: 1200px) 50vw',
									widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
							}}
						{%- else -%}
							{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
						{%- endif -%}
					</div>
					<div class="login-wrapper-item-btns">
						{% if section.settings.subheading != blank %}
							<div class="login-wrapper__subheading subtitle">
								{{ section.settings.subheading | escape }}
							</div>
						{% endif %}
						{% if section.settings.subheading_second != blank %}
							<div class="login-wrapper__subheading subtitle">
								{{ section.settings.subheading_second | escape }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="customer login register">
				<div class="login__form">
					<div class="page-header">
						<div class="page-header__inner">
							<h2 class="title--page h3">
								{{ 'customer.register.title' | t }}
							</h2>

							{%- if section.settings.subtitle != blank -%}
								<div class="login__subtitle">
									{{ section.settings.subtitle }}
								</div>
							{%- endif -%}
						</div>
					</div>
                    {% include 'custom-register' %}
					{%- form 'create_customer', novalidate: 'novalidate' -%}
						<div class="customer-form__placeholder-block">
							<div class="field-list">
								<div class="field">
									<label
										class="field__label small-font"
										for="RegisterForm-FirstName"
									>
										{{- 'customer.register.first_name' | t -}}
										<span class="form-asterisk">*</span>
									</label>
									<input
										type="text"
										name="customer[first_name]"
										id="RegisterForm-FirstName"
										{% if form.first_name %}
											value="{{ form.first_name }}"
										{% endif %}
										autocomplete="given-name"
										placeholder="{{ 'customer.register.first_name' | t }}" 
                                        
									>
                                  <P class="err_msg first_err_msg" style="display: none;">Eingabe erforderlich.</p>
								</div>

								<div class="field">
									<label
										class="field__label small-font"
										for="RegisterForm-LastName"
									>
										{{- 'customer.register.last_name' | t -}}
										<span class="form-asterisk">*</span>
									</label>
									<input
										type="text"
										name="customer[last_name]"
										id="RegisterForm-LastName"
										{% if form.last_name %}
											value="{{ form.last_name }}"
										{% endif %}
										autocomplete="family-name"
										aria-required="true"
										placeholder="{{ 'customer.register.last_name' | t }} "
									>
                                  <P class="err_msg last_err_msg" style="display: none;">Eingabe erforderlich.</p>
								</div>
							</div>
							{%- if form.errors contains 'last_name' -%}
								<span id="RegisterForm-email-error" class="form__message">
									{{ form.errors.translated_fields.last_name | capitalize }}
									{{ form.errors.messages.last_name }}.
								</span>
							{%- endif -%}
							<div class="field">
								<label class="field__label small-font" for="RegisterForm-email">
									{{- 'customer.register.email' | t -}}
									<span class="form-asterisk">*</span>
								</label>
								<input
									type="email"
									name="customer[email]"
									id="RegisterForm-email"
									{% if form.email %}
										value="{{ form.email }}"
									{% endif %}
									spellcheck="false"
									autocapitalize="off"
									autocomplete="email"
									aria-required="true"
									{% if form.errors contains 'email' %}
										aria-invalid="true"
										aria-describedby="RegisterForm-email-error"
									{% endif %}
									placeholder="{{- 'customer.register.email' | t -}}"
									required
								>
                              <P class="err_msg email_err_msg" style="display: none;">Eingabe erforderlich.</p>
                              <P class="err_msg email_val_err_msg" style="display: none;">Bitte geben Sie eine gültige E-Mail-Adresse ein.</p>
							</div>
							{%- if form.errors contains 'email' -%}
								<span id="RegisterForm-email-error" class="form__message">
									{{ form.errors.translated_fields.email | capitalize }}
									{{ form.errors.messages.email }}.
								</span>
							{%- endif -%}
							<div class="field login__field">
								<label
									class="field__label small-font"
									for="RegisterForm-password"
								>
									{{- 'customer.register.password' | t -}}
									<span class="form-asterisk">*</span>
								</label>
								<input
									type="password"
									name="customer[password]"
									id="CustomerPassword"
									aria-required="true"
									{% if form.errors contains 'password' %}
										aria-invalid="true"
										aria-describedby="RegisterForm-password-error"
									{% endif %}
									placeholder="{{- 'customer.register.password' | t -}}"
									required
								>
                              <P class="err_msg pass_err_msg" style="display: none;">Eingabe erforderlich.</p>
								<div class="field__password-type">
									{% render 'icon-eye-open' %}
									{% render 'icon-eye-close' %}
								</div>
							</div>

							{%- if form.errors contains 'password' -%}
								<span id="RegisterForm-password-error" class="form__message">
									{{ form.errors.translated_fields.password | capitalize }}
									{{ form.errors.messages.password }}.
								</span>
							{%- endif -%}

                            <div class="field">
                              <label for="firmenname">Firmenname<span class="form-asterisk">*</span></label>
                              <input id="firmenname" type="text" name="customer[note][Firmenname]">
                              <P class="err_msg firmenname_err_msg" style="display: none;">Eingabe erforderlich.</p>
                            </div>  

                            <div class="geburtstag">
                              <label for="geburtstag">Geburtstag<span class="form-asterisk">*</span></label>
                              <input id="geburtstag" type="date" name="customer[note][Geburtstag]" style="display: none;">                                                          
                              <input type="text" id="geburtstag_date" name="geburtstag_date" placeholder="DD.MM.YYYY">
                              <P class="err_msg geburtstag_err_msg" style="display: none;">Eingabe erforderlich.</p>
                            </div>

                            <div class="field">
                              <label for="kundennummer">Telefon (1234 5678 21)<span class="form-asterisk">*</span></label>
                              <input id="kundennummer" type="text" name="customer[note][Kundennummer]">
                              <P class="err_msg kundennummer_err_msg" style="display: none;">Eingabe erforderlich.</p>
                            </div>

                            <div class="field">
                              <label for="steuernummer">Steuernummer</label>
                              <input id="steuernummer" type="text" name="customer[note][Steuernummer]">                              
                            </div>

                            <div class="field">
                              <label for="adresse">Adresse<span class="form-asterisk">*</span></label>
                              <textarea id="adresse" name="customer[note][Adresse]"></textarea>  
                              <P class="err_msg adresse_err_msg" style="display: none;">Eingabe erforderlich.</p>
                            </div>

                            <div class="field term-cu-add">
                              <input type="checkbox" id="agree-terms" name="properties[Agree to terms]" style="display: block;" required>
                                <label for="agree-terms">Ich akzeptiere die <a href="/policies/terms-of-service" target="_blank" style="margin-left: 4px !important;">Bedingungen und Konditionen.</a><span>{{ ' *' }}</span></label>
                              <P class="err_msg term_err_msg" style="display: none;">Eingabe erforderlich.</p>
                            </div>                          
                            <div class="field con_edit">
                              Sollten Sie Ihren Firmennamen bzw. Ihre Steuernummer anpassen wollen, so bitten wir Sie um eine kurze Mail an <a href="mailto:contact@shanti-enterprise.ch">contact@shanti-enterprise.ch</a>
                            </div>
							{%- if form.errors contains 'form' -%}
								<span id="RegisterForm-email-error" class="form__message">
									{{ 'customer.login_page.customer_exist' | t }}
								</span>
							{%- endif -%}
						</div>
						<div class="customer__buttons">
							<button type="button" class="button button--primary" id="create_customer1">
								{{ 'customer.register.submit' | t }}
							</button>

							<div class="login__page-link">
								<span class="login__page-link_text subtitle">
									{{ 'customer.register.have_account' | t -}}
								</span>
								<div class="login__page-link_box">
									<a
										href="{{ routes.account_login_url }}"
										class="button button--simple"
									>
										<span class="button-label">
											{{- 'customer.login_page.title' | t -}}
										</span>
										<span class="button-icon">
											{% render 'icon-button-arrow' %}
										</span>
									</a>
								</div>
							</div>
						</div>
					{%- endform -%}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.main-register.name",
	"tag": "section",
	"class": "spaced-section login-section",
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-3",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "inline_richtext",
			"id": "section_heading",
			"default": "Heading",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "textarea",
			"id": "subtitle",
			"default": "Some text for section",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.all.image.label"
		},
		{
			"type": "inline_richtext",
			"id": "subheading",
			"label": "t:sections.all.subheading.label_1",
			"default": "Subheading"
		},
		{
			"type": "inline_richtext",
			"id": "subheading_second",
			"label": "t:sections.all.subheading.label_2",
			"default": "Subheading"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_top",
			"default": true,
			"label": "t:sections.all.border.border_enable_top.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_bottom",
			"default": true,
			"label": "t:sections.all.border.border_enable_bottom.label"
		}
	]
}
{% endschema %}
